/*** General **/
a {
    color: #a67535;
}
a:hover, a:focus, a:active {
    color: #6c481a;
    text-decoration:none;
}
.alert a {
    color: #6c481a;
    text-decoration: underline;
}

.btn-primary {
    color: #fff;
    background-color: #a67535;
    border-color: #6c481a;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #6c481a;
    border-color: #6c481a;
}

.copyright {
    background-color: lightgray;
    width: auto;
    height: auto;
    padding: 4px;
    font-size: 10px;
    color: black;
}
.quote {
    border-left: 1px solid #aaa;
    display: block;
    padding: 20px;
    margin: 10px 0;
    background-color: lightgoldenrodyellow;
}

/** Nav **/
a.print-button {
    color: #666;
}

/** Header Image **/
.header-card {
    border-radius: 0;
}
.header-card img {
    height: 70vw;
    max-height: 400px;
    width: auto;
    object-fit: cover;
    border-radius: 0;
}

.header-card .copyright {
    position: absolute;
    right: 0;
    bottom: -30px;
}

/** Card **/
.content-card .card-img {
    position: relative;

}
.content-card .card-img img {
    height: 250px;
    border-radius: 0;
    object-fit: cover;
}
.content-card .copyright {
    position: absolute;
    right: 0;
    bottom: 0;
}

/**Category*/
.badge-primary {
    background-color: #fa0046;
}
.category-list .badge-primary {
    float: right;
}
.category-list a {
    width: 100%;
}