<div class="row" style="padding:50px 0">
    <div class="col-md-12">
        <p>
            Diese Seite ist aus einer privaten Bürger-Initiative entstanden, um in Zeiten der Corona-Pandemie zu informieren und zu helfen.
        </p>
        <p>Wenn Sie Meldungen oder Informationen haben, die Sie gerne hier veröffentlichen wollen, schreiben Sie an:
        <a href="mailto:kontakt@gessertshausen-info.de">kontakt@gessertshausen-info.de</a></p>
    </div>
</div>