<div class="row py-4">
    <div class="alert alert-warning" role="alert">
        Helfen Sie mit, und teilen Sie mir weitere Geschäfte, News und Infos mit, die hier stehen sollten! <br />
        Auch wenn Daten sich geändert haben, freue ich mich über eine Änderungs-Mitteilung. <br />
        Ein Widerspruch gegen die Erwähnung auf dieser Seite ist ebenfalls kein Problem. <br />
        Einfach eine Mail schreiben an: <a href="mailto:kontakt@gessertshausen-info.de">kontakt@gessertshausen-info.de</a>
    </div>
</div>
<div class="row py-4" >
    <div class="col-md-12">
        <p>
            Diese Seite ist aus einer Bürger-Initiative entstanden, um in Zeiten der Corona-Pandemie zu informieren und zu helfen. Mehr zu der Entstehung und den Hintergründen finden Sie
            <a href="/ueber-uns.php">hier!</a>
        </p>
        <p>
            Für eine andere Gemeinde kann diese Seite auch angelegt werden, mehr dazu finden Sie unter: <a href="/ueber-uns.php">Über diese Seite</a>
        </p>
    </div>
</div>