<div class="row">
    <div class="col-md-6 py-3">
        <ul class="list-group category-list">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/ostern.php">Ostern Sonderseite</a>
                <span class="badge badge-primary badge-pill">3</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/essen.php">Lebensmittel</a>
                <span class="badge badge-primary badge-pill">7</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/restaurant.php">Restaurants und Lieferdienste</a>
                <span class="badge badge-primary badge-pill">6</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/hilfe.php">Hilfe und Mitmachen</a>
                <span class="badge badge-primary badge-pill">5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/geschaefte.php">Geschäfte und Firmen
                    <span class="badge badge-primary badge-pill">5</span>
                </a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/gemeinde.php">Gemeinde und öffentliche Einrichtungen</a>
                <span class="badge badge-primary badge-pill">2</span>
            </li>

        </ul>
    </div>
</div>
