<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-center">
        <a href="/index.php" class="navbar-brand d-flex align-items-center">
            <strong>Startseite</strong>
        </a>
        <a href="/news.php" class="navbar-brand d-flex align-items-center">
            <strong>Aktuelles</strong>
        </a>
    </div>
</div>
