<div class="row py-4">
    <div class="col-md-12">
        <h3>Diese Initiative wird unterstützt von:</h3>
    </div>
    <div class="col-md-4 py-3">
        <img src="/Img/ccd-deubachia_s.jpg" style="width:50px;" alt="CCD Deubachia" />
        <a href="https://ccd-deubachia.de/" target="_blank">CCD Deubachia</a>
    </div>
    <div class="col-md-4 py-3">
        <a href="#" onclick="return false;">Freiwillige Feuerwehr Deubach</a>
    </div>
    <div class="col-md-4 py-3">
        <img src="/Img/feuerwehr-gessertshausen_s.png" style="width:50px;" alt="Freiwillige Feuerwehr Gessertshausen e.V." />
        <a href="https://www.feuerwehr-gessertshausen.de/home/" target="_blank">Freiwillige Feuerwehr Gessertshausen e.V.</a>
    </div>
    <div class="col-md-4 py-3">
        <img src="/Img/musikverein-gessertshausen_s.jpg" style="width:50px;" alt="Musikverein Gessertshausen" />
        <a href="https://www.musikverein-gessertshausen.de/" target="_blank">Musikverein Gessertshausen</a>
    </div>
    <div class="col-md-4 py-3">
        <a href="#" onclick="return false;">Reitmayer Blühpatenschaft</a>
    </div>
    <div class="col-md-4 py-3">
        <img src="/Img/schuetzenverein_gessertshausen_s.jpg" style="width:50px;" alt="Schützenverein Gessertshausen" />
        <a href="https://www.facebook.com/Schützengesellschaft-1880-Gessertshausen-eV-155712317827142" target="_blank">
                Schützenverein Gessertshausen 1880</a>
    </div>
    <div class="col-md-4 py-3">
        <img src="/Img/sportclub-deubach_s.jpg" style="width:50px;" alt="Sportclub 69, Deubacher Jugend"/>
        <a href="https://www.facebook.com/Sportclub-69-Deubacher-Jugend-128022073968684/" target="_blank">
            Sportclub 69, Deubacher Jugend</a>
    </div>
    <div class="col-md-4 py-3">
        <img src="/Img/950-jahre-deubach_s.jpg" style="width:50px;" alt="950 Jahre Deubach" />
        <a href="https://www.facebook.com/950jahredeubach/" target="_blank">
            950 Jahre Deubach</a>
    </div>

</div>
