{% extends "base.twig" %}

{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 id="info">Corona Informationen</h2>

                    <p>ToDo: Notfall-Hotline, Gesundheitsamt</p>
                    <ul>
                        <li>Gemeinde Gessertshausen</li>
                        <li>Landkreis Augsburg</li>
                        <li>Robert Koch Institut</li>
                        <li><a href="https://br.de" target="_blank">Bayerischer Rundfunk</a></li>
                    </ul>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 id="aerzte">Ärzte</h2>
                    <p>ToDo</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




