{% extends "base.twig" %}

{% block content %}
    <div class="jumbotron my-0">
        <h1 class="display-4">Daten&shy;schutz&shy;erklärung</h1>
    </div>

    <div class="album bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Hier muss deine Datenschutz-Erklärung stehen, z.B. von <a href="https://www.e-recht24.de/muster-datenschutzerklaerung.html">https://www.e-recht24.de/muster-datenschutzerklaerung.html</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




