{% extends "base.twig" %}

{% block content %}
    <div class="card bg-dark text-white header-card d-print-none">
        <img src="/Img/gemuese2_1280.jpg" class="card-img" alt="Pizza und andere Lieferdienste">
        <p class="copyright">
            &copy; <a href="https://pixabay.com/de/users/congerdesign-509903/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=752153">Selling of my photos with StockAgencies is not permitted</a> auf <a href="https://pixabay.com/de/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=752153">Pixabay</a>
        </p>
    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Lebensmittel</h2>
                    <p>
                        Bäckereien, Supermärkte und Lebensmittel-Geschäfte haben weiterhin geöffnet.<br />
                        Dazu kommen regionale Bauern, die ihre Produkte direkt verkaufen.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Bäckerei
                        </div>
                        <div class="card-img">
                            <img src="/Img/croissant_640.jpg" class="card-img-top" alt="Pizza">
                            <div class="copyright">
                                <a href="https://pixabay.com/users/Pexels-2286921/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1284438">Pexels</a> auf <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1284438">Pixabay</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Bäckerei Schnell, Margertshausen</h5>
                            <p class="card-text">
                                Auch die Bäckerei Schnell ist in Margertshausen weiterhin zu den gewohnten
                                Öffnungszeiten für Sie da:
                            </p>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>Montag</td>
                                    <td>06:00–16:00</td>
                                </tr>
                                <tr>
                                    <td>Dienstag</td>
                                    <td>06:00–16:00</td>
                                </tr>
                                <tr>
                                    <td>Mittwoch</td>
                                    <td>06:00–12:00</td>
                                </tr>
                                <tr>
                                    <td>Donnerstag</td>
                                    <td>06:00–18:00</td>
                                </tr>
                                <tr>
                                    <td>Freitag</td>
                                    <td>06:00–18:00</td>
                                </tr>
                                <tr>
                                    <td>Samstag</td>
                                    <td>06:00–12:00</td>
                                </tr>
                                </tbody>
                            </table>

                            <p class="card-text">
                                Gerne nehmen wir die Bestellungen für Osterlämmer frühzeitig entgegen!
                            </p>
                            <a href="tel:082382515" target="_blank" class="btn btn-primary">Tel: 08238-2515</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Milchtankstelle Deubach
                        </div>
                        <div class="card-img">
                            <img src="/Img/milchtankstelle_kraus.jpg" class="card-img-top" alt="Pizza">
                            <div class="copyright">
                                <a href="https://fleckviehhof-kraus.de/" target="_blank">Fleckviehhof Kraus</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Milchtankstelle Kraus in Deubach</h5>
                            <p class="card-text">
                                Die Milchtankstelle in Deubach hat 24h geöffnet, und ist durch die Abfüllung in eigene Gefäße hygienisch und sicher.
                            </p>
                            <p class="card-text">
                                Es gibt auch Wurst, Fleisch und Grillfleisch aus unserem Wurstautomaten von unserem Betrieb. Und außerdem
                                Eier von freilaufenden Hühnern von Familie Heckel aus Großaitingen!
                            </p>
                            <a href="https://fleckviehhof-kraus.de/" target="_blank" class="btn btn-primary">Zur Webseite</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Bäckerei Niedermair, Diedorf
                        </div>
                        <div class="card-img">
                            <img src="/Img/niedermair.png" class="card-img-top" alt="Bäckerei Niedermair">
                            <div class="copyright">
                                &copy; <a href="https://www.baeckerei-niedermair.de/">Bäckerei Niedermair</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Bäckerei Niedermair hat geöffnet</h5>
                            <p class="card-text">
                                <b>Lieferdienst</b><br />
                                Damit wir zusammen gegen das Coronavirus ankämpfen können, liefern wir unsere Backwaren, Torten, Mittagessen und Frühstück auch zu Euch nach Hause! <br />
                                Wir beliefern Diedorf mit Ortsteilen, nirgendheim, Deubach und weitere auf Anfrage.<br />
                            </p>
                            <p class="card-text">
                                Wir sind weiterhin in beiden Geschäften zu den gewohnten Öffnungzeiten für Sie da: <br />

                                <b>Hauptgeschäft:</b><br />
                                Montag bis Samstag 5.30 Uhr – 18 Uhr<br />
                                Sonntag 7.30 – 17.00 Uhr
                            </p>

                            <p class="card-text">
                                <b>Filiale:</b>           <br />
                                Montag bis Freitag 7.00 Uhr – 18 Uhr<br />
                                Samstag 7.30 – 14.00 Uhr<br />
                            </p>

                            <a href="https://www.baeckerei-niedermair.de/mittagessen/" target="_blank" class="btn btn-primary">Mittagsmenü</a>
                            <a href="https://www.baeckerei-niedermair.de/" target="_blank" class="btn btn-primary">Zur Webseite</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Bioladen
                        </div>
                        <div class="card-img">
                            <img src="/Img/herzstueck.jpg" class="card-img-top" alt="Pizza">
                            <div class="copyright">
                                <a href="https://www.herzstueck-horgau.de/" target="_blank">Herzstück Horgau/Diedorf</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Herzstück Diedorf</h5>
                            <p class="card-text">
                                Der ehem. Bioladen in Diedorf wurde als regionale Genossenschaft wieder-eröffnet. <br />
                                Es gibt Tagesgerichte, regionale Produkte und Bäckerwaren zur Abholung oder Lieferung. <br />
                            </p>
                            <p class="card-text">
                                Alle Bestellungen, die bis 11:00 Uhr eingehen können noch am selben Tag berücksichtigt werden <br />
                                Mindestbestellwert beträgt 20 € pro Lieferung <br />
                                Lieferradius ist 15 km um das Herzstück in Diedorf <br />
                            </p>
                            <a href="https://www.herzstueck-horgau.de/Navigation_Rechts/Herz-Express/" target="_blank" class="btn btn-primary">Zur Webseite</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Getränke
                        </div>
                        <div class="card-img">
                            <img src="/Img/rapp.jpg" class="card-img-top" alt="Brauerei Rapp">
                            <div class="copyright">
                                <a href="https://www.brauerei-rapp.de/" target="_blank">Brauerei Rapp</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Getränke Lieferdienst der Brauerei Rapp</h5>
                            <p class="card-text">
                                Rapp liefert auch weiterhin seine Getränke aus. Einschränkungen gibt es nur bei gemischten Kästen, dazu die Info von der Rapp Webseite: </p>
                                <span class="quote">
                                    Trotz der aktuellen Lage bzgl. des Corona-Virus können wir unsere Kunden noch wie gewohnt beliefern. <br />
                                    Aus hygienischen Gründen können wir momentan keine Kisten halb/halb liefern, da diese von Hand zusammengestellt werden.
                                </span>
                            </p>
                            <a href="https://www.brauerei-rapp.de/" target="_blank" class="btn btn-primary">Zur Webseite</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Gemüsekiste
                        </div>
                        <div class="card-img">
                            <img src="/Img/gemuese2_640.jpg" class="card-img-top" alt="Pizza">
                            <div class="copyright">
                                <a href="https://pixabay.com/de/users/congerdesign-509903/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=752153">Selling of my photos with StockAgencies is not permitted</a> auf <a href="https://pixabay.com/de/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=752153">Pixabay</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Stümpflhof</h5>
                            <p class="card-text">
                                Seit vielen Jahren als Demeter-Betrieb anerkannt, bauen wir im biologisch-dynamischen Landbau Obst und Gemüse an.
                                Es gibt sowohl Gemüse-Kisten als auch Einzelbestellung im Online-Aboshop.</p>
                            <p class="card-text">
                                Es gibt 1x wöchentlich einen <b>Liefer-Service</b> nach nirgendheim.
                                Bestellungen sind über die Webseite oder telefonisch unter <a href="tel:00498261909610">08261 - 909 610</a> möglich.
                            </p>
                            <a href="https://www.stuempflhof.de/" target="_blank" class="btn btn-primary">Zur Webseite</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Lebensmittel
                        </div>
                        <div class="card-img">
                            <img src="/Img/einkauf_512.jpg" class="card-img-top" alt="Pizza">
                            <div class="copyright">
                                <a href="https://commons.wikimedia.org/wiki/File:Einkauf_(26216958809).jpg" title="via Wikimedia Commons">Tim Reckmann from Hamm, Deutschland</a> / <a href="https://creativecommons.org/licenses/by/2.0">CC BY</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Lebensmittel-Geschäfte haben geöffnet</h5>
                            <p class="card-text">
                                Alle Supermärkte in der Umgebung haben regulär geöffnet. <br />
                                In allen Geschäften ist es wichtig, aufeinander zu achten, und den Mindest-Abstand von 1,5m einzuhalten. <br />
                                Bei kleinen Geschäftsräumen bitte draußen warten, und nacheinander eintreten. <br />
                            </p>
                            <p>Weiterhin regulär geöffnet haben:</p>
                            <ul>
                                <li>Metzgerei Dichtl, nirgendheim</li>
                                <li>Bäckerei Schneider, nirgendheim</li>
                                <li>Bäckerei Schnell, Margertshausen</li>
                                <li>Wagner Markt Deubach</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            {{ include('Partials/categories.twig') }}
            {{ include('Partials/about.twig') }}
        </div>
    </div>

{% endblock %}
