{% extends "base.twig" %}

{% block content %}
    <div class="card bg-dark text-white header-card d-print-none">
        <img src="/Img/gemuese2_1280.jpg" class="card-img" alt="Pizza und andere Lieferdienste">
        <p class="copyright">
            &copy; <a href="https://pixabay.com/de/users/congerdesign-509903/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=752153">Selling of my photos with StockAgencies is not permitted</a> auf <a href="https://pixabay.com/de/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=752153">Pixabay</a>
        </p>
    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Lebensmittel</h2>
                    <p>
                        Das ist eine Beispielseite für Lebensmittel-Geschäfte. Im gleichen Stil können andere Kategorien angelegt werden!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Bäckerei
                        </div>
                        <div class="card-img">
                            <img src="/Img/croissant_640.jpg" class="card-img-top" alt="Bäckerei">
                            <div class="copyright">
                                <a href="https://pixabay.com/users/Pexels-2286921/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1284438">Pexels</a> auf <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1284438">Pixabay</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Bäckerei Nirgendheim</h5>
                            <p class="card-text">
                                Auch die Bäckerei Nirgendheim ist weiterhin zu den gewohnten Öffnungszeiten für Sie da:
                            </p>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>Montag</td>
                                    <td>06:00–16:00</td>
                                </tr>
                                <tr>
                                    <td>Dienstag</td>
                                    <td>06:00–16:00</td>
                                </tr>
                                <tr>
                                    <td>Mittwoch</td>
                                    <td>06:00–12:00</td>
                                </tr>
                                <tr>
                                    <td>Donnerstag</td>
                                    <td>06:00–18:00</td>
                                </tr>
                                <tr>
                                    <td>Freitag</td>
                                    <td>06:00–18:00</td>
                                </tr>
                                <tr>
                                    <td>Samstag</td>
                                    <td>06:00–12:00</td>
                                </tr>
                                </tbody>
                            </table>

                            <a href="tel:0049123456789" target="_blank" class="btn btn-primary">Tel: 0123 - 456789</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Gemüsekiste
                        </div>
                        <div class="card-img">
                            <img src="/Img/gemuese2_640.jpg" class="card-img-top" alt="Gemüse">
                            <div class="copyright">
                                <a href="https://pixabay.com/de/users/congerdesign-509903/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=752153">Selling of my photos with StockAgencies is not permitted</a> auf <a href="https://pixabay.com/de/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=752153">Pixabay</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Gemüsekiste</h5>
                            <p class="card-text">
                                Wird sind ein regionaler Bauer, und sind spezialisiert auf den biologisch-dynamischen Landbau.</p>
                            <p class="card-text">
                                Es gibt 1x wöchentlich einen <b>Liefer-Service</b> nach Nirgendheim.
                                Bestellungen sind über die Webseite oder telefonisch unter <a href="tel:0049123456789">Tel: 0123 - 456789</a> möglich.
                            </p>
                            <a href="https://www.meine-domain.de/" target="_blank" class="btn btn-primary">Zur Webseite</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Lebensmittel
                        </div>
                        <div class="card-img">
                            <img src="/Img/einkauf_512.jpg" class="card-img-top" alt="Pizza">
                            <div class="copyright">
                                <a href="https://commons.wikimedia.org/wiki/File:Einkauf_(26216958809).jpg" title="via Wikimedia Commons">Tim Reckmann from Hamm, Deutschland</a> / <a href="https://creativecommons.org/licenses/by/2.0">CC BY</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Lebensmittel-Geschäfte haben geöffnet</h5>
                            <p class="card-text">
                                Alle Supermärkte in der Umgebung haben regulär geöffnet. <br />
                                In allen Geschäften ist es wichtig, aufeinander zu achten, und den Mindest-Abstand von 1,5m einzuhalten. <br />
                                Bei kleinen Geschäftsräumen bitte draußen warten, und nacheinander eintreten. <br />
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            {{ include('Partials/categories.twig') }}
            {{ include('Partials/about.twig') }}
        </div>
    </div>

{% endblock %}
