{% extends "base.twig" %}

{% block content %}
    <div class="card bg-dark text-white header-card d-print-none">
        <img src="/Img/Gessertshausen_Dietkirch_1024.JPG" class="card-img" alt="Geschäfte und Einrichtungen">
        <p class="copyright">
            &copy; <a href="https://commons.wikimedia.org/wiki/File:Gessertshausen,_A_-_Dietkirch_v_S.JPG" title="via Wikimedia Commons">Flodur63</a> / <a href="https://creativecommons.org/licenses/by-sa/3.0">CC BY-SA</a>
        </p>

    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Gemeinde, Kirchen und öffentliche Einrichtungen</h2>
                    <p>
                        Welche öffentlichen Einrichtungen haben geöffnet, und was gibt es für Alternativen wenn nicht?
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Gemeinde Gessertshausen
                        </div>
                        <div class="card-img">
                            <img src="/Img/rathaus.jpg" class="card-img-top" alt="Rathaus Gessertshausen">
                            <div class="copyright">
                                &copy; <a href="https://www.gessertshausen.de/" target="_blank">Verwaltungsgemeinschaft Gessertshausen</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Rathaus geschlossen</h5>
                            <p class="card-text">
                                Auskünfte und Anfragen müssen vorerst bis 03. Mai telefonisch oder schriftlich erfolgen bzgl. gestellt werden. <br />
                                Viele notwendige Formulare können auf der Homepage unter
                                <a href="https://www.gessertshausen.de/buergerservice-politik/rathaus/formulare-online-dienste/" target="_blank">
                                    Bürgerservice & Politik/ Formulare & Online-Dienste </a>
                                heruntergeladen werden.
                            </p>
                            <a href="https://www.gessertshausen.de/" class="btn btn-primary" target="_blank">Zur Webseite</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Gemeinde Gessertshausen
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Wertstoffhof geschlossen</h5>
                            <p class="card-text">
                                Der Wertstoffhof hat geschlossen, die Glas- und Dosencontainer werden regulär geleert
                            </p>
                            <p class="card-text">
                                Die Müllabfuhr (Restmüll, Bioabfälle, Altpapier) und die Abholung der Gelben Säcke findet aktuell zu den regulären Terminen statt.
                                Die Abfall-App des Landkreis Augsburg benachrichtigt einen, wenn sich daran etwas ändert!
                            </p>
                            <p><a href="https://itunes.apple.com/de/app/abfallapp-landkreis-augsburg/id740575884?mt=8" target="_blank" class="btn btn-primary"><span class="awk-ui-offscreen">Download App für iOS</span></a></p>
                            <p><a href="https://play.google.com/store/apps/details?id=de.k4systems.abfallapp" target="_blank" class="btn btn-primary"><span class="awk-ui-offscreen">Download App für Android</span></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Oberschönenfeld
                        </div>
                        <div class="card-img">
                            <img src="/Img/oberschoenenfeld.jpg" class="card-img-top" alt="Kloster Oberschönenfeld">
                            <div class="copyright">
                                &copy; <a href="https://abteioberschoenenfeld.de/" target="_blank">abteioberschoenenfeld.de/</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Kloster Oberschönenfeld</h5>
                            <p class="card-text">
                                Unsere Abteikirche ist für Aussenstehende den ganzen Tag zum Besuch und für ein persönliches Verweilen vor dem Herrn göffnet. <br />
                                Auf diesem Wege können alle Einkehrende mit uns Schwestern, oder wenigstens mit einer Schwester, immer im Gebet verbunden sein, bis zum Abend. <br />
                                Gebetszettel und Gebetsbücher finden sie in der Kirche, auch die Möglichkeit, am Gnadenaltar eine Kerze anzuzünden. <br />
                            </p>
                            <p class="card-text">
                                Bei Gott gibt es keine räumliche Trennung!</p>
                            <p class="card-text">
                                Unsere festen Gebetszeiten, sechs Mal am Tag, halten wir wie gewohnt.
                                Hinzu kommen in dieser schweren Zeit nun noch 8 Stunden stille Anbetung von 9.00 - bis 17.00 Uhr.
                                Dazu trägt sich für jede Stunde eine Schwester ein, die stellvertretend für alle betet.
                            </p>

                            <a href="https://abteioberschoenenfeld.de/" class="btn btn-primary" target="_blank">Zur Webseite</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Pfarrgemeinschaft Dietkirch
                        </div>
                        <div class="card-img">
                            <img src="/Img/Gessertshausen_Dietkirch_512.JPG" class="card-img-top" alt="Dietkirch">
                            <div class="copyright">
                                &copy; <a href="https://commons.wikimedia.org/wiki/File:Gessertshausen,_A_-_Dietkirch_v_S.JPG" title="via Wikimedia Commons">Flodur63</a> / <a href="https://creativecommons.org/licenses/by-sa/3.0">CC BY-SA</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Gottesdienst in den Kirchen</h5>
                            <p class="card-text">
                                Es dürfen noch keine öffentlichen Gottesdienste gefeiert werden.
                            </p>
                            <p class="card-text">
                                Die Kirchen der Pfarreiengemeinschaft Dietkirch sind auch aktuell zu den jeweils ortsüblichen Zeiten zum persönlichen Gebet und Verweilen geöffnet.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            {{ include('Partials/categories.twig') }}
            {{ include('Partials/about.twig') }}
        </div>
    </div>
{% endblock %}




