{% extends "base.twig" %}

{% block content %}
    <div class="card bg-dark text-white header-card d-print-none">
        <img src="../Img/Gessertshausen_Dietkirch_1024.JPG" class="card-img" alt="Geschäfte und Einrichtungen">
        <p class="copyright">
            &copy; <a href="https://commons.wikimedia.org/wiki/File:Gessertshausen,_A_-_Dietkirch_v_S.JPG" title="via Wikimedia Commons">Flodur63</a> / <a href="https://creativecommons.org/licenses/by-sa/3.0">CC BY-SA</a>
        </p>

    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Gemeinde und öffentliche Einrichtungen</h2>
                    <p>
                        Welche öffentlichen Einrichtungen haben geöffnet, und was gibt es für Alternativen wenn nicht?
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Gemeinde Gessertshausen
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Rathaus geschlossen</h5>
                            <p class="card-text">
                                Auskünfte und Anfragen müssen vorerst bis 20. April telefonisch oder schriftlich erfolgen bzgl. gestellt werden. <br />
                                Viele notwendige Formulare können auf der Homepage unter
                                <a href="https://www.gessertshausen.de/buergerservice-politik/rathaus/formulare-online-dienste/" target="_blank">
                                    Bürgerservice & Politik/ Formulare & Online-Dienste </a>
                                heruntergeladen werden.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Gemeinde Gessertshausen
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Wertstoffhof geschlossen</h5>
                            <p class="card-text">
                                Der Wertstoffhof hat geschlossen, die Glas- und Dosencontainer werden regulär geleert
                            </p>
                            <p class="card-text">
                                Die Müllabfuhr (Restmüll, Bioabfälle, Altpapier) und die Abholung der Gelben Säcke findet aktuell zu den regulären Terminen statt.
                                Die Abfall-App des Landkreis Augsburg benachrichtigt einen, wenn sich daran etwas ändert!
                            </p>
                            <p><a href="https://itunes.apple.com/de/app/abfallapp-landkreis-augsburg/id740575884?mt=8" target="_blank" class="awk-btn-app awk-btn-app-ios"><span class="awk-ui-offscreen">Download App für iOS</span></a></p>
                            <p><a href="https://play.google.com/store/apps/details?id=de.k4systems.abfallapp" target="_blank" class="awk-btn-app awk-btn-app-android"><span class="awk-ui-offscreen">Download App für Android</span></a></p>
                            <p><a href="https://www.microsoft.com/store/apps/9nblggh6cwtp" target="_blank" class="awk-btn-app awk-btn-app-windows"><span class="awk-ui-offscreen">Download App für Windows Phone</span></a></p>
                        </div>
                    </div>
                </div>


            </div>

            {{ include('Partials/about.twig') }}
        </div>
    </div>
{% endblock %}




