{% extends "base.twig" %}

{% block content %}
    <div class="card bg-dark text-white header-card d-print-none">
        <img src="/Img/Gessertshausen_Dietkirch_1024.JPG" class="card-img" alt="Geschäfte und Einrichtungen">
        <p class="copyright">
            &copy; <a href="https://commons.wikimedia.org/wiki/File:Gessertshausen,_A_-_Dietkirch_v_S.JPG" title="via Wikimedia Commons">Flodur63</a> / <a href="https://creativecommons.org/licenses/by-sa/3.0">CC BY-SA</a>
        </p>

    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Gemeinde, Kirchen und öffentliche Einrichtungen</h2>
                    <p>
                        Welche öffentlichen Einrichtungen haben geöffnet, und was muss man beachten?
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Gemeinde Gessertshausen
                        </div>
                        <div class="card-img">
                            <img src="/Img/rathaus.jpg" class="card-img-top" alt="Rathaus Gessertshausen">
                            <div class="copyright">
                                &copy; <a href="https://www.gessertshausen.de/" target="_blank">Verwaltungsgemeinschaft Gessertshausen</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Rathaus hat wieder geöffnet</h5>
                            <p class="card-text">
                                Seit Montag ist das Rathaus wieder zu den regulären Öffnungszeiten geöffnet:
                            </p>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>Montag</td>
                                    <td>8:00 - 12:00</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Dienstag</td>
                                    <td>-</td>
                                    <td>14:00 - 18:00</td>
                                </tr>
                                <tr>
                                    <td>Mittwoch - Freitag</td>
                                    <td>8:00 - 12:00</td>
                                    <td>-</td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="card-text">
                                Um vorherige Terminvereinbarung wird gebeten, damit möglichst wenig Kontakte und Wartezeiten entstehen.
                            </p>
                                Viele notwendige Formulare können auch auf der Homepage heruntergeladen werden, dann sparen Sie sich den Rathaus Besuch!<br />
                                Formular Link:
                                <a href="https://www.gessertshausen.de/buergerservice-politik/rathaus/formulare-online-dienste/" target="_blank">
                                    Bürgerservice & Politik/ Formulare & Online-Dienste </a>
                            </p>
                            <a href="tel:0823830060" class="btn btn-primary" >Tel: 08238 3006-0</a>
                            <a href="https://www.gessertshausen.de/" class="btn btn-primary" target="_blank">Zur Webseite</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Pfarrgemeinschaft Willishausen-Anhausen
                        </div>
                        <div class="card-img">
                            <img src="/Img/stgallus-deubach.jpg" class="card-img-top" alt="St. Gallus, Deubach">
                            <div class="copyright">
                                &copy; <a href="https://bistum-augsburg.de/Pfarreiengemeinschaften/Willishausen/Kirchen/Deubach" target="_blank">Bistum Augsburg</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Gottesdienst-Auflagen in der PG Willishausen-Anhausen</h5>
                            <p class="card-text">
                                Wir freuen uns sehr, Sie wieder in unseren Gottesdiensten begrüßen zu dürfen! <br />
                                Um die Sicherheit aller Anwesenden zu gewährleisten, haben wir momentan folgendes Vorgehen:
                            </p>
                            <ul>
                                <li>In unseren Pfarrkirchen können wegen der Abstandsregeln nur etwa <b>30 Personen</b>
                                    an den Gottesdiensten teilnehmen</li>
                                <li>Teilnehmen dürfen alle, die nicht am Corona-Virus erkrankt sind,
                                    die keine Erkrankungen der Atemwege haben oder nicht an Fieber leiden</li>
                                <li><b>Telefonische Anmeldung</b> im Pfarramt ist nötig:<br />
                                    <a href="tel:082382360">Tel. 08238-2360</a> von Dienstag-Freitag von 9.00-12.00 Uhr</li>
                                <li>Sie müssen eine Mund- und Nasenbedeckung mitbringen</li>
                                <li>Es sind 2m Abstand zu den Mitfeiernden einzuhalten</li>
                                <li>Die Toiletten im Pfarrheim/Pfarrhof sind geschlossen</li>
                                <li>Bitte kommen Sie frühzeitig!</li>
                                <li>Am Eingang steht eine Person, die den Zugang zur Kirche regelt</li>
                                <li>Bis zum 21. Mai wird auf die Kommunionausteilung verzichtet</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Gemeinde Gessertshausen
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Wertstoffhof hat eingeschränkt wieder geöffnet</h5>
                            <p class="card-text">
                                Die Anlieferung wird vorerst auf Papier und Kartonagen, Schrott, Sperrmüll, Möbelaltholz und
                                Elektro-Großgeräte beschränkt. Da nur 4 Fahrzeuge gleichzeitig auf den Platz gelassen werden,
                                gibt es derzeit Staus und längere Wartezeiten.
                            </p>
                            <p class="card-text">
                                Großanlieferungen werden vom Personal zurückgewiesen und Anlieferungen von landwirtschaftlichen
                                Folien sind grundsätzlich erst wieder ab Freitag, 15. Mai 2020, möglich.
                            </p>
                            <a href="https://www.gessertshausen.de/news/" class="btn btn-primary" target="_blank">Aktuelle News auf der Gemeinde Webseite</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Gemeinde Gessertshausen
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Müllabfuhr</h5>
                            <p class="card-text">
                                Die Müllabfuhr (Restmüll, Bioabfälle, Altpapier) und die Abholung der Gelben Säcke findet aktuell zu den regulären Terminen statt. <br />
                                Auch die Glas- und Dosencontainer werden regulär entleert.
                            </p>
                            <p class="card-text">
                                Die Abfall-App des Landkreis Augsburg benachrichtigt einen, wenn sich daran etwas ändert!
                            </p>
                            <p><a href="https://itunes.apple.com/de/app/abfallapp-landkreis-augsburg/id740575884?mt=8" target="_blank" class="btn btn-primary"><span class="awk-ui-offscreen">Download App für iOS</span></a></p>
                            <p><a href="https://play.google.com/store/apps/details?id=de.k4systems.abfallapp" target="_blank" class="btn btn-primary"><span class="awk-ui-offscreen">Download App für Android</span></a></p>
                        </div>
                    </div>
                </div>

            </div>
            {{ include('Partials/categories.twig') }}
            {{ include('Partials/about.twig') }}
        </div>
    </div>
{% endblock %}




