{% extends "base.twig" %}

{% block content %}
    <div class="card bg-dark text-white header-card d-print-none">
        <img src="../Img/Gessertshausen_Dietkirch_1024.JPG" class="card-img" alt="Geschäfte und Einrichtungen">
        <p class="copyright">
            &copy; <a href="https://commons.wikimedia.org/wiki/File:Gessertshausen,_A_-_Dietkirch_v_S.JPG" title="via Wikimedia Commons">Flodur63</a> / <a href="https://creativecommons.org/licenses/by-sa/3.0">CC BY-SA</a>
        </p>

    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Geschäfte und Firmen</h2>
                    <p>
                        Wer hat geöffnet und wer nicht?
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Spielwaren Hutner
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Postfiliale im Spielwaren Hutner</h5>
                            <p class="card-text">
                                Die Post/Postfiliale hat nach wie vor zu den gewohnten Zeiten geöffnet: <br />
                                Mo-Fr. 9:00-12:00 und 13:00-18:00 Uhr, Samstag von 9:00-12:00 Uhr<br />

                            </p>
                            <p>
                                Aktuelle Info von der <a href="https://www.facebook.com/SpielwarenHutner/">Hutner Facebook Seite:</a> <br />
                                <span class="quote">
                                    Das gibt uns die Möglichkeit aus unserem restlichen Sortiment nach dem "Click und Collect" Prinzip zu verkaufen. <br />
                                    "Click und Collect" heißt, dass wir Bestellungen, die uns durch Anruf oder email erreichen, herrichten und zur Abholung bereitstellen. <br />
                                    Wir werden also gerne auf Eure Anrufe und Emails hin die gewünschten Artikel reservieren. <br />
                                    Diese können dann zu den normalen Öffnungszeiten bei uns abgeholt werden. <br />
                                    Beim Abholen oder an der Post bitten wir alle Kunden die vorgegebenen Abstände einzuhalten.
                                </span>
                            </p>
                            <a href="https://www.facebook.com/SpielwarenHutner/"
                               class="btn btn-primary" target="_blank">zur Facebook Seite von Spielwaren Hutner</a>
                            <a href="tel:00498238958540"
                               class="btn btn-primary" target="_blank">Tel: 08238 958540</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Blumenstube Edmann
                        </div>
                        <div class="card-img">
                            <img src="/Img/blumenstube_wagner.jpg" class="card-img-top" alt="Pizza">
                            <div class="copyright">
                                <a href="https://www.facebook.com/photo.php?fbid=1292872734250204&set=p.1292872734250204&type=3&theater" target="_blank">Facebook, Nathalie Blaha</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Blumenstube geschlossen, Verkauf im Wagner Deubach</h5>
                            <p class="card-text">
                                Die Blumenstube in Gessertshausen musste wg. Corona geschlossen werden. <br />
                                Der Wagner Markt in Deubach hilft deswegen aus, und verkauft Osterdekoration für die Blumenstube!
                            </p>
                            <a href="https://www.facebook.com/wagnermarktdeubach/"
                               class="btn btn-primary" target="_blank">zur Facebook Seite des Wagner Markts</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Häckselplatz und Kieswerk Mayr
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Das Kieswerk Gessertshausen ist für Privatpersonen geschlossen</h5>
                            <p class="card-text">
                                Aktuelle Info von der <a href="http://www.m-mayr-strassenbau.de/index.php?p=kieswerk">Webseite:</a> <br />
                                <span class="quote">
                                    Aufgrund der Anordnung der Bayerischen Staatsregierung findet ab sofort und bis auf Weiteres kein Verkauf mehr an Privatkunden statt.
                                    Aus diesem Grunde bleibt das Kieswerk am Samstag geschlossen. Unser Lieferservice für den Privatkunden ist weiterhin vollumfänglich da.
                                    <br /><br />
                                    Für unsere Firmenkunden und Landwirte ist das Kieswerk weiterhin von Montag bis Freitag zu den üblichen Zeiten geöffnet.
                                </span>
                            </p>
                            <a href="http://www.m-mayr-strassenbau.de/index.php?p=kieswerk"
                               class="btn btn-primary" target="_blank">zur Webseite</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Landkreis Augsburg
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Regionale Angebote</h5>
                            <p class="card-text">
                                Der Landkreis Augsburg pflegt eine Datenbank der regionalen Unternehmen, dort können auch geänderte Öffnungszeiten, Take-Away Angebote und ähnliches veröffentlicht werden. <br />
                                Jeder Inhaber kann sein Geschäft über einen Online-Fragebogen eintragen.
                            </p>
                            <a href="https://www.landkreis-augsburg.de/soziales-gesundheit/staatliches-gesundheitsamt/coronavirus/wichtige-informationen-fuer-unternehmen-zum-coronavirus/regionale-angebote/"
                               class="btn btn-primary" target="_blank">zu den regionalen Angeboten</a>

                        </div>
                    </div>
                </div>
            </div>

            {{ include('Partials/categories.twig') }}
            {{ include('Partials/about.twig') }}
        </div>
    </div>
{% endblock %}




