{% extends "base.twig" %}

{% block content %}
    <div class="card bg-dark text-white header-card d-print-none">
        <img src="../Img/Gessertshausen_Dietkirch_1024.JPG" class="card-img" alt="Geschäfte und Einrichtungen">
        <p class="copyright">
            &copy; <a href="https://commons.wikimedia.org/wiki/File:Gessertshausen,_A_-_Dietkirch_v_S.JPG" title="via Wikimedia Commons">Flodur63</a> / <a href="https://creativecommons.org/licenses/by-sa/3.0">CC BY-SA</a>
        </p>

    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Geschäfte und Firmen</h2>
                    <p>
                        Wer hat geöffnet und wer nicht?
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Landkreis Augsburg
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Regionale Angebote</h5>
                            <p class="card-text">
                                Der Landkreis Augsburg pflegt eine Datenbank der regionalen Unternehmen, dort können auch geänderte Öffnungszeiten, Take-Away Angebote und ähnliches veröffentlicht werden. <br />
                                Jeder Inhaber kann sein Geschäft über einen Online-Fragebogen eintragen.
                            </p>
                            <a href="https://www.landkreis-augsburg.de/soziales-gesundheit/staatliches-gesundheitsamt/coronavirus/wichtige-informationen-fuer-unternehmen-zum-coronavirus/regionale-angebote/"
                               class="btn btn-primary" target="_blank">regionale Angebote</a>

                        </div>
                    </div>
                </div>



            </div>

            {{ include('Partials/about.twig') }}
        </div>
    </div>
{% endblock %}




