{% extends "base.twig" %}

{% block content %}
    <div class="card bg-dark text-white header-card d-print-none">
        <img src="/Img/bieneblume_1280.jpg" class="card-img" alt="Blühpatenschaft">
        <p class="copyright">
            &copy; <a href="https://pixabay.com/de/users/MichaelGaida-652234/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3530729">MichaelGaida</a>
        </p>

    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Gewinne eine Blühpatenschaft</h2>
                    <p>
                        Von Familie Reitmayer wird zur Unterstützung der Bürgerinitiative eine Blühpatenschaft gestiftet. <br />
                        Alles was man dazu tun muss, ist mitzuhelfen die Webseite zu verbreiten!
                    </p>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Was ist die Blühpatenschaft?
                        </div>
                        <div class="card-img">
                            <img src="/Img/bieneblume_640.jpg" class="card-img-top" alt="Blühpatenschaft">
                            <div class="copyright">
                                &copy; <a href="https://pixabay.com/de/users/MichaelGaida-652234/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3530729">MichaelGaida</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Ins Leben gerufen wurde das 2019 von der Familie Reitmayer, ein landwirtschaftlicher Familienbetrieb im Nebenerwerb. <br />
                                Sie haben angefangen, eine landwirtschaftliche Anbaufläche mit ausgesuchten Wildblumen anzusähen. Diese dienen als Nahrung für Wildbienen und Insekten, und bieten Rückzugsraum für Wildtiere. <br />
                            </p>
                            <p class="card-text">
                                Als landwirtschaftlicher Betrieb stellen sie die Fläche und die nötigen Gerätschaften zur Verfügung,
                                und mit der Blühpatenschaft trägt man dafür einen Teil der betrieblichen Kosten.
                            </p>
                            <p class="card-text py-3">
                                Normalerweise kostet ein Anteil 35€ für 100m2, damit sichert man für 12 Monate lang diese Aktion.
                            </p>
                            <p class="card-text">
                                In diesem Gewinnspiel wird ein Anteil von 100m2 <b>kostenlos</b> verlost!
                            </p>
                            <a href="https://www.facebook.com/ReitmayerLandwirtschaft/" class="btn btn-primary" target="_blank">Facebook Seite</a>
                            <a href="/Img/bluehpatenschaft.pdf" class="btn btn-primary" target="_blank">Projektbeschreibung PDF</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Was muss ich tun?
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>Teile diese Webseite</b> mit Freunden, z.B. über WhatsApp oder soziale Netzwerke.<br />
                                Die Adresse lautet: <a href="https://www.gessertshausen-info.de/" target="_blank">https://www.gessertshausen-info.de/</a>
                            </p>
                            <p class="card-text">
                                Wer in einem <b>Verein</b> ist, der noch nicht auf der Unterstützer-Liste am Ende der Seite aufgeführt ist,
                                kann nachfragen ob sie mitmachen wollen. <br />
                                Die Unterstützung verplichtet zu nichts, es geht nur darum über Neuigkeiten und Infos in den vereinsinternen Netzwerken zu verbreiten!
                            </p>
                            <p class="card-text">
                                Wenn du das getan hast, schicke eine Mail mit dem
                                Betreff "Ich will eine Blühpatenschaft gewinnen" an
                                <a href="mailto:gewinn@gessertshausen-info.de?subject=Ich will eine Blühpatenschaft gewinnen" >gewinn@gessertshausen-info.de</a>. <br />
                                Du kannst dazu einfach auf den Teilnahme Button klicken:
                            </p>
                            <a href="mailto:gewinn@gessertshausen-info.de?subject=Ich will eine Blühpatenschaft gewinnen" class="btn btn-primary" >Jetzt teilnehmen!</a>
                        </div>
                    </div>

                </div>

                <div class="col-md-12">
                    <h2>Teilnahme&shy;bedingungen</h2>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            1. Teilnahme&shy;voraussetzungen
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Aufgabe: Teile diese Webseite mit Freunden und Bekannten! <br />
                                Die Adresse lautet: <a href="https://www.gessertshausen-info.de/" target="_blank">https://www.gessertshausen-info.de/</a><br />
                                Es ist kein Beweis für das Teilen notwendig, wir vertrauen auf eure Ehrlichkeit!
                            </p>
                            <p class="card-text">
                                Dann eine Mail schicken mit dem Betreff "Ich will eine Blühpatenschaft gewinnen" an
                                <a href="mailto:gewinn@gessertshausen-info.de?subject=Ich will eine Blühpatenschaft gewinnen" >gewinn@gessertshausen-info.de</a> <br />
                            </p>
                            <p class="card-text">
                                Die Teilnahme am Gewinnspiel ist kostenlos, es entstehen auch keine Folgekosten durch den Gewinn.
                            </p>
                            <p class="card-text">
                                Der Veranstalter behält sich ausdrücklich vor, die Teilnahmebedingungen zu ändern, oder das Gewinnspiel ohne vorherige Ankündigung und ohne Mitteilung von Gründen zu beenden.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            2. Ablauf und Fristen des Gewinnspiels
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Alle Mails, die vom 17.04.2020, 12:00 Uhr bis zum 03.05.2020 um 12:00 Uhr bei der Adresse
                                <a href="mailto:gewinn@gessertshausen-info.de?subject=Ich will eine Blühpatenschaft gewinnen" >gewinn@gessertshausen-info.de</a>
                                eingehen können am Gewinnspiel teilnehmen. Es gilt der protokollierte Zeitpunkt des E-Mail-Eingangs.
                            </p>
                            <p class="card-text">
                                Teilnahmeberechtigt sind natürliche Personen, die Ihren Wohnsitz in Deutschland und das 18. Lebensjahr vollendet haben.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            3. Gewinn, Benachrichtigung und Übermittlung des Gewinns
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Folgende Preise werden vergeben:<br />
                                Eine Blühpatenschaft für 100m2 im Wert von 35€
                            </p>
                            <p class="card-text">
                                Die Ermittlung der Gewinner erfolgt nach Teilnahmeschluss im Rahmen einer auf dem Zufallsprinzip beruhenden Verlosung unter allen Teilnehmern.
                            </p>
                            <p class="card-text">
                                Die Gewinner der Verlosung werden zeitnah über eine gesonderte Email über den Gewinn informiert.<br />
                                Meldet sich der Gewinner nach zweifacher Aufforderung innerhalb einer Frist von 2 Wochen nicht,
                                kann der Gewinn auf einen anderen Teilnehmer übertragen werden.
                            </p>
                            <p class="card-text">
                                Die Abwicklung der Blühpatenschaft wird von Fam. Reitmayer vorgenommen. <br />
                                Eine Weitergabe des Gewinns an eine andere Person ist in Absprache mit Fam. Reitmayer möglich,
                                z.B. als Dankeschön für die Hilfe während der Corona Zeit! <br/>
                                Eine Barauszahlung, Umtausch oder Veräußerung des Gewinns ist ausgeschlossen.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            4. Rechtsweg
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Der Rechtsweg ist im Hinblick auf die Ziehung der Gewinner und die etwaige Beurteilung der eingereichten Gewinnspielbeiträge ausgeschlossen
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            5. Datenschutz
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Mit der Teilnahme am Gewinnspiel willigen Sie in die Erhebung und Verwendung Ihrer
                                E-Mail-Adresse ein. Wir erheben, speichern und verarbeiten diese personenbezogenen
                                Daten zur Durchführung und Abwicklung des Gewinnspiels und um Sie im Falle eines Gewinns zu
                                benachrichtigen. Spätestens 4 Wochen nach der Gewinn-Benachrichtigung werden alle Daten gelöscht.
                            </p>
                            <p class="card-text">
                                Der Veranstalter weist darauf hin, dass sämtliche personenbezogenen Daten des Teilnehmers ohne
                                Einverständnis weder an Dritte weitergegeben noch diesen zur Nutzung überlassen werden.
                            </p>
                            <p class="card-text">
                                Der Teilnehmer kann seine erklärte Einwilligung jederzeit widerrufen.
                                Der Widerruf ist schriftlich an den Veranstalters zu richten.
                                Nach Widerruf der Einwilligung werden die erhobenen und gespeicherten personenbezogenen Daten des Teilnehmers umgehend gelöscht.
                            </p>
                            <p class="card-text">
                                Unsere vollständige Datenschutz-Erklärung finden Sie hier:
                                <a href="https://www.gessertshausen-info.de/datenschutz.php" target="_blank">https://www.gessertshausen-info.de/datenschutz.php
                                </a>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            6. Veranstalter
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Der Veranstalter des Gewinnspiels ist: <br />
                                Andrea Schmuttermair <br />
                                Hauptstr. 54 <br />
                                86459 Gessertshausen <br />
                            </p>
                            <p class="card-text">
                                Unser vollständiges Impressum finden Sie hier:
                                <a href="https://www.gessertshausen-info.de/impressum.php" target="_blank">https://www.gessertshausen-info.de/impressum.php
                                </a>
                            </p>
                            <p class="card-text">
                                Verantwortlich für die Blühpatenschaft ist: <br />
                                Reitmayer Landwirtschaft<br />
                                Mail: <a href="mailto:lebensraum-schaffen@web.de">lebensraum-schaffen@web.de</a>
                            </p>
                            <p>Das Gewinnspiel wird in keiner Weise von Facebook oder Instagram gesponsert, unterstützt oder organisiert.</p>
                        </div>
                    </div>

                </div>

            </div>

            {{ include('Partials/about.twig') }}
        </div>
    </div>
{% endblock %}




