{% extends "base.twig" %}

{% block content %}
    <div class="card bg-dark text-white header-card d-print-none">
        <img src="/Img/einkauf_2048.jpg" class="card-img" alt="Einkaufen">
        <p class="copyright">
            &copy; <a href="https://commons.wikimedia.org/wiki/File:Einkauf_(26216958809).jpg" title="via Wikimedia Commons">Tim Reckmann from Hamm, Deutschland</a> / <a href="https://creativecommons.org/licenses/by/2.0">CC BY</a>
        </p>

    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Hilfe und Mitmachen</h2>
                    <p>
                        Es gibt eine Menge Hilfsbereitschaft, um die Krise gemeinsam zu bewältigen. Oft sind es nur kleine Dinge, die einem anderen weiterhelfen können. <br />
                        Sollten Sie Hilfe benötigen, und hier noch nicht das richtige Angebot finden, können Sie mich auch gerne anschreiben unter: <a href="mailto:kontakt@gessertshausen-info.de">kontakt@gessertshausen-info.de</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Gemeinde Gessertshausen
                        </div>
                        <div class="card-img">
                            <img src="/Img/einkauf_512.jpg" class="card-img-top" alt="Einkaufs-Hilfe">
                            <div class="copyright">
                                &copy; <a href="https://commons.wikimedia.org/wiki/File:Einkauf_(26216958809).jpg" title="via Wikimedia Commons">Tim Reckmann from Hamm, Deutschland</a> / <a href="https://creativecommons.org/licenses/by/2.0">CC BY</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Einkaufs-Hilfe der Gemeinde Gessertshausen</h5>
                            <p class="card-text">Um den älteren Mitmenschen ihre Einkäufe zu ermöglichen, bietet die Gemeinde Gessertshausen in Zusammenarbeit mit dem AK 60+ einen Einkaufsdienst an. </p>
                            <p class="card-text">
                                Bürger, die dieses Angebot nutzen wollen, können sich täglich von 8:00 – 18:00 Uhr unter der Rufnummer
                                <a href="tel:015252090724">0152 520 907 24</a> (Ansprechpartnerin Anja Völk) melden.</p>
                            <a href="https://www.gessertshausen.de/news/artikel/news/2020/3/16/helfen-sie-sich-gegenseitig-in-zeiten-von-corona-1/" target="_blank" class="btn btn-primary">Mehr...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Nachbarschafts-App
                        </div>
                        <div class="card-img">
                            <img src="/Img/nebenan.png" class="card-img-top" alt="nebenan.de">
                            <div class="copyright">
                                &copy; <a href="https://nebenan.de/" title="via Wikimedia Commons">nebenan.de</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Deine Nachbarschaft in einer App</h5>
                            <p class="card-text">
                                In Kontakt bleiben trotz Quarantäne, es fehlt die passende Schraube oder ein Werkzeug, oder hat noch jemand eine Rolle Klopapier?
                                Kannst du mir was vom Bäcker mitbringen, und wer fährt in die Stadt und kann was abholen?
                            </p>
                            <p class="card-text">
                                Diese App ist Tauschbörse, Hilfs-Plattform und Kontakt-Möglichkeit in einem. Die Anmeldung ist völlig unverbindlich, einfach mal reinschauen was so los ist.
                            </p>
                            <a href="https://nebenan.de/register/kilna-lacma" target="_blank" class="btn btn-primary">Jetzt anmelden</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Informationen
                        </div>
                        <div class="card-img">
                            <img src="/Img/tastatur.png" class="card-img-top" alt="nebenan.de">
                            <div class="copyright">
                                &copy; <a href="https://commons.wikimedia.org/wiki/File:Illu-hand-tastatur.svg" title="via Wikimedia Commons">Studio GOOD digital GmbH for Wikimedia Deutschland</a> / <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Infos sammeln für diese Seite</h5>
                            <p class="card-text">
                                Diese Seite braucht noch viel mehr Informationen! Fragen Sie doch beim nächsten Einkauf beim Geschäft nach, ob es aktuelle Informationen zu Öffnungszeiten gibt,
                                ob neuerdings Lieferservice angeboten wird, oder generell Besonderheiten zu beachten sind. </p>
                            <p class="card-text">
                                Als Inhaber eines Geschäfts können Sie kostenlos hier veröffentlichen. Wer Bestellzettel zum ausdrucken hat, kann die per PDF schicken.
                            </p>
                            <p class="card-text">
                                Alles bitte per Mail schicken an:  <a href="mailto:kontakt@gessertshausen-info.de">kontakt@gessertshausen-info.de</a>
                            </p>
                            <a href="mailto:kontakt@gessertshausen-info.de" class="btn btn-primary">Mail schreiben</a>
                        </div>
                    </div>
                </div>
            </div>

            {{ include('Partials/about.twig') }}
        </div>
    </div>



{% endblock %}




