{% extends "base.twig" %}

{% block content %}
    <div class="card bg-dark text-white header-card d-print-none">
        <img src="/Img/einkauf_2048.jpg" class="card-img" alt="Einkaufen">
        <p class="copyright">
            &copy; <a href="https://commons.wikimedia.org/wiki/File:Einkauf_(26216958809).jpg" title="via Wikimedia Commons">Tim Reckmann from Hamm, Deutschland</a> / <a href="https://creativecommons.org/licenses/by/2.0">CC BY</a>
        </p>

    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Hilfe und Mitmachen</h2>
                    <p>
                        Es gibt eine Menge Hilfsbereitschaft, um die Krise gemeinsam zu bewältigen. Oft sind es nur kleine Dinge, die einem anderen weiterhelfen können. <br />
                        Sollten Sie Hilfe benötigen, und hier noch nicht das richtige Angebot finden, können Sie mich auch gerne anschreiben unter: <a href="mailto:mail@meine-domain.de">mail@meine-domain.de</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Einkaufs-Hilfe
                        </div>
                        <div class="card-img">
                            <img src="/Img/einkauf_512.jpg" class="card-img-top" alt="Einkaufs-Hilfe">
                            <div class="copyright">
                                &copy; <a href="https://commons.wikimedia.org/wiki/File:Einkauf_(26216958809).jpg" title="via Wikimedia Commons">Tim Reckmann from Hamm, Deutschland</a> / <a href="https://creativecommons.org/licenses/by/2.0">CC BY</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Aktuelles zur Einkaufs-Hilfe</h5>
                            <p class="card-text">
                                Für nirgendheim, Deubach, Döpshofen, Margertshausen und Wollishausen gibt es mittlerweile einen eigenen Ansprechpartner: <br/>
                                <a href="tel:01702012063">0170 201 20 63</a> Herr Kastner <br/>
                                Frau Völk organisiert die Einkaufs-Hilfe weiterhin für Ustersbach und Umgebung: <a href="tel:015252090724">0152 520 907 24</a>
                            </p>
                            <p class="card-text">
                                Es haben sich bereits sehr viele Einkaufs-Helfer gemeldet, scheuen Sie sich also nicht dieses Angebot in Anspruch zu nehmen. <br />
                                Sie können ihre Einkäufe bringen lassen, z.B. wenn Sie einer Risikogruppe angehören, wegen Corona Verdacht (auch ohne Test!) zu Hause bleiben sollen, oder durch einen systemrelevanten Beruf kaum Zeit zum einkaufen haben.
                            </p>
                            <a href="tel:01702012063" class="btn btn-primary" >Anruf Kastner: 0170-2012063</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Behelfs-Mund-Nasen-Maske
                        </div>
                        <div class="card-img">
                            <img src="/Img/mundschutz.JPG" class="card-img-top" alt="Behelfs-Mund-Nasen-Maske">
                            <div class="copyright">
                                &copy; <a href="http://nirgendheim-info.de/">nirgendheim-info.de</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Selbst hergestellte Masken</h5>
                            <p class="card-text">
                                Die selbst hergestellten Masken funktionieren so: sie schützen weniger den Träger, und mehr die Anderen. <br />
                                Je mehr Menschen ihn tragen, um so weniger Viren werden über Tröpfchen in der Umgebung verteilt. <br />
                                Mehr Infos dazu auf der offiziellen <a href="https://www.bfarm.de/SharedDocs/Risikoinformationen/Medizinprodukte/DE/schutzmasken.html" target="_blank">Seite des Bundes</a>
                            </p>
                            <p class="card-text">
                                Das ist also ein <b>indirekter Schutz</b>, der im Falle einer unerkannten Infektion die Verbreitung verhindert. <br />
                                Außerdem gibt es noch einen psychologischen Effekt: man fasst sich nicht mehr so einfach ins Gesicht!
                            </p>
                            <p class="card-text">
                                Dazu kommt, dass medizinische Mundschutz-Lieferungen derzeit Mangelware sind. Deswegen werden Behelfs-Masken auch von Pflege-Personal, Verkäufer/innen, usw. gerne genommen. </p>
                            <p class="card-text">
                                Dazu haben sich mittlerweile Nähgruppen in ganz Deutschland gebildet, die kostenlos Masken nähen. Wollen wir hier auch <b>mitmachen?</b> Ich habe noch viel bunte Baumwoll-Stoffe, und könnte die Verteilung organisieren!
                            </p>
                            <a href="https://naehfrosch.de/mundschutz-selber-naehen/" class="btn btn-primary" target="_blank">Näh-Anleitung</a>
                            <a href="https://www.youtube.com/watch?v=JIUTJEHZ3LU&feature=youtu.be" class="btn btn-primary" target="_blank">Video</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Nachbarschafts-App
                        </div>
                        <div class="card-img">
                            <img src="/Img/nebenan.png" class="card-img-top" alt="nebenan.de">
                            <div class="copyright">
                                &copy; <a href="https://nebenan.de/" title="via Wikimedia Commons">nebenan.de</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Deine Nachbarschaft in einer App</h5>
                            <p class="card-text">
                                In Kontakt bleiben trotz Quarantäne, es fehlt die passende Schraube oder ein Werkzeug, oder hat noch jemand eine Rolle Klopapier?
                                Kannst du mir was vom Bäcker mitbringen, und wer fährt in die Stadt und kann was abholen?
                            </p>
                            <p class="card-text">
                                Diese App ist Tauschbörse, Hilfs-Plattform und Kontakt-Möglichkeit in einem. Die Anmeldung ist völlig unverbindlich, einfach mal reinschauen was so los ist.
                            </p>
                            <a href="https://nebenan.de/register/kilna-lacma" target="_blank" class="btn btn-primary">Jetzt anmelden</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Neuigkeiten mitteilen
                        </div>
                        <div class="card-img">
                            <img src="/Img/tastatur.png" class="card-img-top" alt="Neuigkeiten mitteilen">
                            <div class="copyright">
                                &copy; <a href="https://commons.wikimedia.org/wiki/File:Illu-hand-tastatur.svg" title="via Wikimedia Commons">Studio GOOD digital GmbH for Wikimedia Deutschland</a> / <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Diese Seite braucht ihre Hilfe</h5>
                            <p class="card-text">
                                Diese Seite lebt von aktuellen Informationen aus der Region! <br />
                                Fragen Sie doch beim nächsten Einkauf beim Geschäft nach, ob es aktuelle Informationen zu Öffnungszeiten gibt,
                                ob neuerdings Lieferservice angeboten wird, oder generell Besonderheiten zu beachten sind. </p>
                            <p class="card-text">
                                Und als Inhaber eines Geschäfts können Sie kostenlos hier veröffentlichen: Änderungen im Geschäftsbetrieb, eine Gutschein-Aktion oder eine Kundeninformation.
                                Völlig kostenlos und jederzeit änderbar.
                            </p>
                            <p class="card-text">
                                Alles bitte per Mail schicken an:  <a href="mailto:mail@meine-domain.de">mail@meine-domain.de</a>
                            </p>
                            <a href="mailto:mail@meine-domain.de" class="btn btn-primary">Mail schreiben</a>
                        </div>
                    </div>
                </div>

            </div>
            {{ include('Partials/categories.twig') }}
            {{ include('Partials/about.twig') }}
        </div>
    </div>



{% endblock %}




