{% extends "base.twig" %}

{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Einkaufs-Hilfe</h2>
                    <p>Todo: Text und Link</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Nachbarschafts-App</h2>
                    <ul>
                        <li>Nachbarschafts-App <a href="https://nebenan.de/register/kilna-lacma">mitmachen!</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Bauern</h2>
                    <p>Todo: Text und Link</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




