{% extends "base.twig" %}

{% block content %}
    <div class="jumbotron my-0">
        <h1 class="display-4">Im&shy;pressum</h1>
        <h3>Angaben gemäß § 5 TMG</h3>
    </div>

    <div class="album bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Angaben gemäß § 5 TMG</h2>
                    <p>Hier muss dein Impressum stehen - z.B. mit <a href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




