{% extends "base.twig" %}

{% block content %}
    <div class="card bg-dark text-white header-card d-print-none">
        <img src="/Img/Gessertshausen_Dietkirch2_1024.JPG" class="card-img" alt="Gessertshausen Dietkirch">
        <p class="copyright">
            &copy; <a href="https://commons.wikimedia.org/wiki/File:Dietkirch_-_Kirche_und_ehemalige_Schule.jpg" title="via Wikimedia Commons">Robme66</a> /
            <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA</a>
        </p>

    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Bürgerinitiative Gessertshausen</h2>
                    <p>
                        Zu Zeiten der Corona Krise bietet diese Seite aktuelle Informationen aus Gessertshausen und den Ortsteilen Deubach, Döpshofen, Margertshausen, Wollishausen und Oberschönenfeld. </p>
                        <P>Dazu kommen Hilfsangebote, Unterstützungs-Möglichkeiten und Nachrichten aus der Region.
                    </p>
                </div>
            </div>
            {{ include('Partials/categories.twig') }}
            <div class="row">

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Ostern
                        </div>
                        <div class="card-img">
                            <img src="/Img/osterkorb_640.jpg" class="card-img-top" alt="Osterkorb">
                            <div class="copyright">
                                &copy; <a href="https://pixabay.com/de/users/Couleur-1195798/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2093315">Couleur-1195798</a> auf <a href="https://pixabay.com/de/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2093315">Pixabay</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Alles rund um das Osterfest</h5>
                            <p class="card-text">
                                Das Osterfest steht vor der Türe, doch heuer ist alles ein bißchen anders! <br />
                                Hier werden wir im Laufe der Woche Ideen und Angebote sammeln, damit das Osterfest auch dieses Jahr ein Fest der Freude wird!
                            </p>
                            <a href="/ostern.php" class="btn btn-primary">Ostern</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Mundschutz
                        </div>
                        <div class="card-img">
                            <img src="/Img/mundschutz.JPG" class="card-img-top" alt="Mundschutz">
                            <div class="copyright">
                                &copy; <a href="http://gessertshausen-info.de/">gessertshausen-info.de</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Selbst hergestellte Masken</h5>
                            <p class="card-text">
                                Die selbst hergestellten Masken funktionieren so: sie schützen weniger den Träger, und mehr die Anderen. <br />
                                Je mehr Menschen ihn tragen, um so weniger Viren werden über Tröpfchen in der Umgebung verteilt. <br />
                                Mehr Infos dazu auf der offiziellen <a href="https://www.bfarm.de/SharedDocs/Risikoinformationen/Medizinprodukte/DE/schutzmasken.html" target="_blank">Seite des Bundes</a>
                            </p>
                            <p class="card-text">
                                Das ist also ein <b>indirekter Schutz</b>, der im Falle einer unerkannten Infektion die Verbreitung verhindert. <br />
                                Außerdem gibt es noch einen psychologischen Effekt: man fasst sich nicht mehr so einfach ins Gesicht!
                            </p>
                            <p class="card-text">
                                Dazu kommt, dass medizinische Mundschutz-Lieferungen derzeit Mangelware sind. Deswegen werden Behelfs-Masken auch von Pflege-Personal, Verkäufer/innen, usw. gerne genommen. </p>
                            <p class="card-text">
                                Dazu haben sich mittlerweile Nähgruppen in ganz Deutschland gebildet, die kostenlos Masken nähen. Wollen wir hier auch <b>mitmachen?</b> Ich habe noch viel bunte Baumwoll-Stoffe, und könnte die Verteilung organisieren!
                            </p>
                            <a href="https://naehfrosch.de/mundschutz-selber-naehen/" class="btn btn-primary" target="_blank">Mundschutz Näh-Anleitung</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Einkaufs-Hilfe
                        </div>
                        <div class="card-img">
                            <img src="/Img/einkauf_512.jpg" class="card-img-top" alt="Einkaufs-Hilfe">
                            <div class="copyright">
                                &copy; <a href="https://commons.wikimedia.org/wiki/File:Einkauf_(26216958809).jpg" title="via Wikimedia Commons">Tim Reckmann from Hamm, Deutschland</a> / <a href="https://creativecommons.org/licenses/by/2.0">CC BY</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Aktuelles zur Einkaufs-Hilfe</h5>
                            <p class="card-text">
                                Für Gessertshausen, Deubach, Döpshofen, Margertshausen und Wollishausen gibt es mittlerweile einen eigenen Ansprechpartner: <br/>
                                <a href="tel:01702012063">0170 201 20 63</a> Herr Kastner <br/>
                                Frau Völk organisiert die Einkaufs-Hilfe weiterhin für Ustersbach und Umgebung: <a href="tel:015252090724">0152 520 907 24</a>
                            </p>
                            <p class="card-text">
                                Es haben sich bereits sehr viele Einkaufs-Helfer gemeldet, scheuen Sie sich also nicht dieses Angebot in Anspruch zu nehmen. <br />
                                Sie können ihre Einkäufe bringen lassen, z.B. wenn Sie einer Risikogruppe angehören, wegen Corona Verdacht (auch ohne Test!) zu Hause bleiben sollen, oder durch einen systemrelevanten Beruf kaum Zeit zum einkaufen haben.
                            </p>
                            <a href="tel:01702012063" class="btn btn-primary" >Anruf Kastner: 0170-2012063</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Ziemetshausen
                        </div>
                        <div class="card-img">
                            <img src="/Img/ziemetshausen.jpg" class="card-img-top" alt="Ziemetshausen">
                            <div class="copyright">
                                &copy; <a href="https://www.supportmyhometown.de/">www.supportmyhometown.de</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Unterstützungsprojekte auch in anderen Gemeinden</h5>
                            <p class="card-text">
                                Auch in den Nachbargemeinde werden ähnliche Projekte gestartet, die das Leben während der Corona-Krise und darüber hinaus sichern sollen.
                            </p>
                            <p class="card-text">
                                Support My Hometown ist ein von jungen Erwachsenen gegründetes Unterstützungsprojekt in <b>Ziemetshausen</b>, das bereits eine Menge Unterstützer hat!
                            </p>
                            <a href="https://www.supportmyhometown.de/" class="btn btn-primary" target="_blank">zur Webseite</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Einkaufstipp
                        </div>
                        <div class="card-img">
                            <img src="/Img/croissant_640.jpg" class="card-img-top" alt="Bäckerei">
                            <div class="copyright">
                                &copy; <a href="https://pixabay.com/users/Pexels-2286921/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1284438">Pexels</a> auf <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1284438">Pixabay</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Vorbestellung und Abholung</h5>
                            <p class="card-text">
                                Bei vielen Geschäften kann man seinen Einkauf vorbestellen. Beispielsweise: Bäckerei Schneider, Bäckerei Schnell, Metzgerei Dichtl<br />
                            </p>
                            <p>
                                Dann muss nur noch jemand bei seiner Einkaufs-Tour die Bestellungen abholen und kann sie mitbringen!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Eisdiele
                        </div>
                        <div class="card-img">
                            <img src="/Img/eis_640.jpg" class="card-img-top" alt="Pizza">
                            <div class="copyright">
                                &copy; <a href="https://pixabay.com/de/users/publicdomainimages-327722/">PublicDomainImages</a> auf <a href="https://pixabay.com/de/photos/pizza-trinken-lebensmittel-386717/">Pixabay</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Eisdiele LaGelateria Dinkelscherben</h5>
                            <p class="card-text">
                                Viele würden bei diesem schönen Wetter gerne in die Eisdiele gehen, doch das geht ja momentan nicht? <br />
                                Doch die Eisdiele in Dinkelscherben bietet einen Abhol-Service an! <br />
                                Einach die Kühlbox mitnehmen und für die ganze Familie Eis holen!
                            </p>
                            <a href="https://www.facebook.com/LaGelateriaDinkel" target="_blank" class="btn btn-primary">Zur LaGelateria Seite auf Facebook</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Gemeinde Gessertshausen
                        </div>
                        <div class="card-img">
                            <img src="/Img/einkauf_512.jpg" class="card-img-top" alt="Einkaufs-Hilfe">
                            <div class="copyright">
                                &copy; <a href="https://commons.wikimedia.org/wiki/File:Einkauf_(26216958809).jpg" title="via Wikimedia Commons">Tim Reckmann from Hamm, Deutschland</a> / <a href="https://creativecommons.org/licenses/by/2.0">CC BY</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Einkaufs-Hilfe der Gemeinde Gessertshausen</h5>
                            <p class="card-text">Um den älteren Mitmenschen ihre Einkäufe zu ermöglichen, bietet die Gemeinde Gessertshausen in Zusammenarbeit mit dem AK 60+ einen Einkaufsdienst an. </p>
                            <p class="card-text">
                                Bürger, die dieses Angebot nutzen wollen, können sich täglich von 8:00 – 18:00 Uhr unter der Rufnummer
                                <a href="tel:015252090724">0152 520 907 24</a> (Ansprechpartnerin Anja Völk) melden.</p>
                            <a href="https://www.gessertshausen.de/news/artikel/news/2020/3/16/helfen-sie-sich-gegenseitig-in-zeiten-von-corona-1/" target="_blank" class="btn btn-primary">Mehr...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            <u>gessertshausen-info.de</u> geht online
                        </div>
                        <div class="card-img">
                            <img src="/Img/Gessertshausen_Dietkirch2_1024.JPG" class="card-img-top" alt="Gessertshausen">
                            <div class="copyright">
                                &copy; <a href="https://commons.wikimedia.org/wiki/File:Dietkirch_-_Kirche_und_ehemalige_Schule.jpg" title="via Wikimedia Commons">Robme66</a> / <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Informations-Seite geht online</h5>
                            <p class="card-text">
                                Seit dem 26. März ist diese Seite online. Sie bietet aktuelle Informationen in Zeiten der Corona-Krise: wer hat noch geöffnet, was hat sich geändert?
                            </p>
                            <p class="card-text">
                                Auch Hilfsangebote und Nachbarschafts-Initiativen werden unterstützt. Und wenn Sie eine Idee haben was hier noch fehlt: schreiben Sie eine Mail!
                            </p>
                            <a href="mailto:kontakt@gessertshausen-info.de" class="btn btn-primary">Mail schreiben</a>
                        </div>
                    </div>
                </div>

            </div>
            {{ include('Partials/categories.twig') }}
            {{ include('Partials/about.twig') }}
        </div>
    </div>
{% endblock %}




