{% extends "base.twig" %}

{% block content %}
    <div class="card bg-dark text-white header-card d-print-none">
        <img src="Img/tastatur.png" class="card-img" alt="Tastatur">
        <p class="copyright">
            &copy; <a href="https://commons.wikimedia.org/wiki/File:Illu-hand-tastatur.svg" title="via Wikimedia Commons">Studio GOOD digital GmbH for Wikimedia Deutschland</a> / <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA</a>
        </p>
    </div>

            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Bürgerinitiative Gemeinde Nirgendheim</h2>
                            <p>
                                Das ist eine Demo Seite für eine Bürgerinitiative für eine Gemeinde oder einen Ort. Ich habe ihn mal Nirgendheim getauft (nach einem Song Teho Teardo & Blixa Bargeld).
                            </p>
                            <p>Die ursprüngliche Seite mit den echten Inhalten läuft unter: <a href="https://www.gessertshausen-info.de/" target="_blank">https://www.gessertshausen-info.de/</a></p>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6 py-3">
                            <div class="card content-card" >
                                <div class="card-header">
                                    Ostern
                                </div>
                                <div class="card-img">
                                    <img src="/Img/osterkorb_640.jpg" class="card-img-top" alt="Osterkorb">
                                    <div class="copyright">
                                        &copy; <a href="https://pixabay.com/de/users/Couleur-1195798/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2093315">Couleur-1195798</a> auf <a href="https://pixabay.com/de/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2093315">Pixabay</a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Alles rund um das Osterfest</h5>
                                    <p class="card-text">
                                        Das Osterfest steht vor der Türe, doch heuer ist alles ein bißchen anders! <br />
                                        Hier werden wir im Laufe der Woche Ideen und Angebote sammeln, damit das Osterfest auch dieses Jahr ein Fest der Freude wird!
                                    </p>
                                    <a href="/ostern.php" class="btn btn-primary">Ostern</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 py-3">
                            <div class="card content-card" >
                                <div class="card-header">
                                    Restaurants
                                </div>
                                <div class="card-img">
                                    <img src="/Img/schnipo_640.jpg" class="card-img-top" alt="Osterkorb">
                                    <div class="copyright">
                                        &copy; <a href="https://pixabay.com/de/users/Hans-2/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1837703">Hans Braxmeier</a> auf <a href="https://pixabay.com/de/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1837703">Pixabay</a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Restaurants und Lieferdienste</h5>
                                    <p class="card-text">
                                        Es gibt eine neue Seite für Restaurants und Lieferdienste, mit einer Öffnungszeiten-Tabelle für jeden Tag.<br />
                                        Anrufen und abholen geht jetzt in immer mehr Lokalen, und bringt dringend benötigten Umsatz für diese Zeit.
                                    </p>
                                    <a href="/restaurant.php" class="btn btn-primary">Restaurants und Lieferdienste</a>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6 py-3">
                            <div class="card content-card" >
                                <div class="card-header">
                                    Einkaufs-Hilfe
                                </div>
                                <div class="card-img">
                                    <img src="/Img/einkauf_512.jpg" class="card-img-top" alt="Einkaufs-Hilfe">
                                    <div class="copyright">
                                        &copy; <a href="https://commons.wikimedia.org/wiki/File:Einkauf_(26216958809).jpg" title="via Wikimedia Commons">Tim Reckmann from Hamm, Deutschland</a> / <a href="https://creativecommons.org/licenses/by/2.0">CC BY</a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Aktuelles zur Einkaufs-Hilfe</h5>
                                    <p class="card-text">
                                        Es gibt eine Einkaufs-Hilfe, die wird organisiert von .... und funktioniert so: ...
                                    </p>
                                    <a href="tel:0049123456789" class="btn btn-primary" >Tel: 0123-456789</a>
                                    <a href="mailto:einkaufshilfe@meine-domain.de" class="btn btn-primary" >Mail</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 py-3">
                            <div class="card content-card" >
                                <div class="card-header">
                                    Einkaufstipp
                                </div>
                                <div class="card-img">
                                    <img src="/Img/croissant_640.jpg" class="card-img-top" alt="Bäckerei">
                                    <div class="copyright">
                                        &copy; <a href="https://pixabay.com/users/Pexels-2286921/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1284438">Pexels</a> auf <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1284438">Pixabay</a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Vorbestellung und Abholung</h5>
                                    <p class="card-text">
                                        Bei vielen Geschäften kann man seinen Einkauf vorbestellen. Beispielsweise unserer Bäckerei und Metzgerei<br />
                                    </p>
                                    <p>
                                        Dann muss nur noch jemand bei seiner Einkaufs-Tour die Bestellungen abholen und kann sie mitbringen!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
            {{ include('Partials/categories.twig') }}
            {{ include('Partials/about.twig') }}
        </div>
    </div>
{% endblock %}




