{% extends "base.twig" %}

{% block content %}
    <div class="card bg-dark text-white header-card d-print-none">
        <img src="/Img/Gessertshausen_Dietkirch2_1024.JPG" class="card-img" alt="Gessertshausen Dietkirch">
        <p class="copyright">
            &copy; <a href="https://commons.wikimedia.org/wiki/File:Dietkirch_-_Kirche_und_ehemalige_Schule.jpg" title="via Wikimedia Commons">Robme66</a> /
            <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA</a>
        </p>

    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Gessertshausen</h2>
                    <h3>Informationen und Aktuelles</h3>
                    <p>
                        Auf dieser Seite finden Sie aktuelle Informationen für Gessertshausen und die Ortsteile Deubach, Döpshofen, Margertshausen, Wollishausen und Oberschönenfeld.
                        Auch wichtige Informationen aus dem Landkreis Augsburg werden angeboten.
                    </p>
                    <p>
                        Zu Zeiten der Corona-Krise sind regelmäßig aktualisierte Informationen sehr wichtig. Dazu werden die Geschäfte und öffentliche Einrichtungen angefragt nach Öffnungszeiten und
                        Änderungen im Geschäftsbetrieb. Diese Informationen werden dann hier veröffentlicht. Sie können auch selber Informationen mitteilen an: <a href="mailto:kontakt@gessertshausen-info.de">kontakt@gessertshausen-info.de</a>
                    </p>
                </div>
            </div>
            <div class="row">


                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Bäckerei
                        </div>
                        <div class="card-img">
                            <img src="/Img/croissant_640.jpg" class="card-img-top" alt="Pizza">
                            <div class="copyright">
                                &copy; <a href="https://pixabay.com/users/Pexels-2286921/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1284438">Pexels</a> auf <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1284438">Pixabay</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Vorbestellung und Abholung</h5>
                            <p class="card-text">
                                Bei der Bäckerei Schneider kann man seinen Einkauf vorbestellen. Auch die Metzgerei Dichtl bietet das an.<br />
                                Dann muss nur noch jemand bei seiner Einkaufs-Tour die Bestellungen abholen und mitbringen.<br />
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Eisdiele
                        </div>
                        <div class="card-img">
                            <img src="/Img/eis_640.jpg" class="card-img-top" alt="Pizza">
                            <div class="copyright">
                                &copy; <a href="https://pixabay.com/de/users/publicdomainimages-327722/">PublicDomainImages</a> auf <a href="https://pixabay.com/de/photos/pizza-trinken-lebensmittel-386717/">Pixabay</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Eisdiele LaGelateria Dinkelscherben</h5>
                            <p class="card-text">
                                Viele würden bei diesem schönen Wetter gerne in die Eisdiele gehen, doch das geht ja momentan nicht? <br />
                                Doch die Eisdiele in Dinkelscherben bietet einen Abhol-Service an! <br />
                                Einach die Kühlbox mitnehmen und für die ganze Familie Eis holen!
                            </p>
                            <a href="https://www.facebook.com/LaGelateriaDinkel" target="_blank" class="btn btn-primary">Zur LaGelateria Seite auf Facebook</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            <u>gessertshausen-info.de</u> geht online
                        </div>
                        <div class="card-img">
                            <img src="/Img/Gessertshausen_Dietkirch2_1024.JPG" class="card-img-top" alt="Gessertshausen">
                            <div class="copyright">
                                &copy; <a href="https://commons.wikimedia.org/wiki/File:Dietkirch_-_Kirche_und_ehemalige_Schule.jpg" title="via Wikimedia Commons">Robme66</a> / <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Informations-Seite geht online</h5>
                            <p class="card-text">
                                Seit dem 26. März ist diese Seite online. Sie bietet aktuelle Informationen in Zeiten der Corona-Krise: wer hat noch geöffnet, was hat sich geändert?
                            </p>
                            <p class="card-text">
                                Auch Hilfsangebote und Nachbarschafts-Initiativen werden unterstützt. Und wenn Sie eine Idee haben was hier noch fehlt: schreiben Sie eine Mail!
                            </p>
                            <a href="mailto:kontakt@gessertshausen-info.de" class="btn btn-primary">Mail schreiben</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Gemeinde Gessertshausen
                        </div>
                        <div class="card-img">
                            <img src="/Img/einkauf_512.jpg" class="card-img-top" alt="Einkaufs-Hilfe">
                            <div class="copyright">
                                &copy; <a href="https://commons.wikimedia.org/wiki/File:Einkauf_(26216958809).jpg" title="via Wikimedia Commons">Tim Reckmann from Hamm, Deutschland</a> / <a href="https://creativecommons.org/licenses/by/2.0">CC BY</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Einkaufs-Hilfe der Gemeinde Gessertshausen</h5>
                            <p class="card-text">Um den älteren Mitmenschen ihre Einkäufe zu ermöglichen, bietet die Gemeinde Gessertshausen in Zusammenarbeit mit dem AK 60+ einen Einkaufsdienst an. </p>
                            <p class="card-text">
                                Bürger, die dieses Angebot nutzen wollen, können sich täglich von 8:00 – 18:00 Uhr unter der Rufnummer
                                <a href="tel:015252090724">0152 520 907 24</a> (Ansprechpartnerin Anja Völk) melden.</p>
                            <a href="https://www.gessertshausen.de/news/artikel/news/2020/3/16/helfen-sie-sich-gegenseitig-in-zeiten-von-corona-1/" target="_blank" class="btn btn-primary">Mehr...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Essen und Trinken
                        </div>
                        <div class="card-img">
                            <img src="/Img/pizza2_640.jpg" class="card-img-top" alt="Gessertshausen">
                            <div class="copyright">
                                &copy; <a href="https://commons.wikimedia.org/wiki/File:Gr%C3%BCnes_Gem%C3%BCse_1.jpg" title="via Wikimedia Commons">Schnobby</a> / <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Restaurants, Lieferdienste und Produkte von Bauern</h5>
                            <p class="card-text">Viele Restaurants bieten jetzt einen Abholung von Speisen an.
                                Auch Lieferdienste wurden eingerichtet, um Sie in der Ausgangssperre weiter zu versorgen.</p>
                            <p class="card-text">
                                Außerdem gibt es regionale Bauern, die ihre Produkte direkt verkaufen.
                            </p>
                            <a href="/essen.php" class="btn btn-primary">Mehr...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Hilfe und Mitmachen
                        </div>
                        <div class="card-img">
                            <img src="/Img/einkauf_512.jpg" class="card-img-top" alt="Einkaufs-Hilfe">
                            <div class="copyright">
                                &copy; <a href="https://commons.wikimedia.org/wiki/File:Einkauf_(26216958809).jpg" title="via Wikimedia Commons">Tim Reckmann from Hamm, Deutschland</a> / <a href="https://creativecommons.org/licenses/by/2.0">CC BY</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Alle Hilfsangebote im Überblick</h5>
                            <p class="card-text">Es gibt eine Menge Hilfsbereitschaft, um die Krise gemeinsam zu bewältigen. Oft sind es nur kleine Dinge, die einem anderen weiterhelfen können.</p>
                            <a href="/hilfe.php" class="btn btn-primary">Mehr...</a>
                        </div>
                    </div>
                </div>
            </div>
            {{ include('Partials/about.twig') }}
        </div>
    </div>
{% endblock %}




