{% extends "base.twig" %}

{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 id="news">Startseite</h2>

                    <p>Aenean vulputate eleifend tellus. Curabitur nisi. Donec vitae orci sed dolor rutrum auctor. Aliquam eu nunc. Aenean ut eros et nisl sagittis vestibulum.

                        Vivamus aliquet elit ac nisl. Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi sem ut ipsum. Proin sapien ipsum, porta a, auctor quis, euismod ut, mi. Etiam rhoncus. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo.</p>
                </div>

            </div>

        </div>
    </div>
{% endblock %}




