{% extends "base.twig" %}

{% block content %}
    <div class="card bg-dark text-white header-card d-print-none">
                <img src="/Img/Gessertshausen_Dietkirch2_1024.JPG" class="card-img" alt="Gessertshausen Dietkirch">
                <p class="copyright">
                    &copy; <a href="https://commons.wikimedia.org/wiki/File:Dietkirch_-_Kirche_und_ehemalige_Schule.jpg" title="via Wikimedia Commons">Robme66</a> /
                    <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA</a>
                </p>

            </div>

            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Bürgerinitiative Gessertshausen</h2>
                            <p>
                                Diese Webseite war während der Corona-Krise dazu da, aktuelle Informationen zu sammeln und Hilfe in der Region zu koordinieren.</p>
                            <P>Derzeit ist die Lage soweit stabil. Sobald sich daran etwas ändert, werden die Inhalte hier wieder aktualisiert.
                            </p>
                            <p>Stand: 19.06.2020 </p>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6 py-3">
                            <div class="card content-card" >
                                <div class="card-header">
                                    Aktuelle Fallzahlen
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Die aktuellen Corona Fallzahlen aus der Region</h5>
                                    <p class="card-text">
                                        Auf diesen Internet-Seiten werden tagesaktuell die Fallzahlen veröffentlicht. Auch aktuelle Informationen, Hotlines und Test-Möglichkeiten sind dort zu finden.
                                    </p>
                                    <a href="https://www.landkreis-augsburg.de/soziales-gesundheit/staatliches-gesundheitsamt/coronavirus/" class="btn btn-primary my-2" target="_blank">Landkreis Augsburg</a><br />
                                    <a href="https://www.augsburg.de/umwelt-soziales/gesundheit/coronavirus/fallzahlen/" class="btn btn-primary my-2" target="_blank">Stadt Augsburg</a><br />
                                    <a href="https://www.landkreis-guenzburg.de/covid-19/aktuelle-fallzahlen" class="btn btn-primary my-2" target="_blank">Landkreis Günzburg</a><br />
                                    <a href="https://www.lgl.bayern.de/gesundheit/infektionsschutz/infektionskrankheiten_a_z/coronavirus/karte_coronavirus/" class="btn btn-primary my-2" target="_blank">
                                        Übersicht aller bayerischen Landkreise</a><br />

                                </div>
                            </div>
                        </div>



                        <div class="col-md-6 py-3">
                            <div class="card content-card" >
                                <div class="card-header">
                                    Augsburger Allgemeine
                                </div>
                                <div class="card-img">
                                    <img src="https://www.augsburger-allgemeine.de/img/augsburg-land/crop57194121/8059566233-cv16_9-w940/8E1A7097-1.jpg" class="card-img-top" alt="Osterkorb">
                                    <div class="copyright">
                                        &copy; <a href="https://www.augsburger-allgemeine.de/augsburg-land/So-helfen-sich-Nachbarn-in-Corona-Zeiten-gegenseitig-id57194126.html">Peter Wieser, Augsburger Allgemeine</a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Wir waren in der Zeitung!</h5>
                                    <p class="card-text">
                                        So helfen sich Nachbarn in Corona-Zeiten gegenseitig</p>
                                    <p class="card-text">
                                        Zu diesem Thema hat die Augsburger Allgemeine ein Interview mit uns geführt und
                                        über Nachbarschaftshilfe in der Region berichtet.
                                    </p>
                                    <a href="https://www.augsburger-allgemeine.de/augsburg-land/So-helfen-sich-Nachbarn-in-Corona-Zeiten-gegenseitig-id57194126.html" class="btn btn-primary" target="_blank">zum Artikel</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 py-3">
                            <div class="card content-card" >
                                <div class="card-header">
                                    Facebook Seite
                                </div>
                                <div class="card-img">
                                    <img src="/Img/facebook.png" class="card-img-top" alt="Facebook">
                                    <div class="copyright">
                                        &copy; <a href="https://www.facebook.com/gessertshauseninfo">facebook.com/gessertshauseninfo</a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Wir sind jetzt auch auf Facebook!</h5>
                                    <p class="card-text">
                                        Die Bürgerinitiative ist jetzt auch auf Facebook vertreten, und kann dort abboniert werden.
                                    </p>
                                    <p class="card-text">
                                        Damit werden Sie über alle wichtigen Nachrichten auf dem Laufenden gehalten.
                                    </p>
                                    <a href="https://www.facebook.com/gessertshauseninfo" class="btn btn-primary" target="_blank">zur Facebook Seite</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 py-3">
                            <div class="card content-card" >
                                <div class="card-header">
                                    <u>gessertshausen-info.de</u> geht online
                                </div>
                                <div class="card-img">
                                    <img src="/Img/Gessertshausen_Dietkirch2_1024.JPG" class="card-img-top" alt="Gessertshausen">
                                    <div class="copyright">
                                        &copy; <a href="https://commons.wikimedia.org/wiki/File:Dietkirch_-_Kirche_und_ehemalige_Schule.jpg" title="via Wikimedia Commons">Robme66</a> / <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA</a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Informations-Seite geht online</h5>
                                    <p class="card-text">
                                        Seit dem 26. März ist diese Seite online. Sie bietet aktuelle Informationen in Zeiten der Corona-Krise: wer hat noch geöffnet, was hat sich geändert?
                                    </p>
                                    <p class="card-text">
                                        Auch Hilfsangebote und Nachbarschafts-Initiativen werden unterstützt. Und wenn Sie eine Idee haben was hier noch fehlt: schreiben Sie eine Mail!
                                    </p>
                                    <a href="mailto:kontakt@gessertshausen-info.de" class="btn btn-primary">Mail schreiben</a>
                                </div>
                            </div>
                        </div>

                    </div>
            {{ include('Partials/about.twig') }}
        </div>
    </div>
{% endblock %}




