{% extends "base.twig" %}

{% block content %}
    <div class="card bg-dark text-white header-card d-print-none">
        <img src="Img/tastatur.png" class="card-img" alt="Tastatur">
        <p class="copyright">
            &copy; <a href="https://commons.wikimedia.org/wiki/File:Illu-hand-tastatur.svg" title="via Wikimedia Commons">Studio GOOD digital GmbH for Wikimedia Deutschland</a> / <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA</a>
        </p>

    </div>
    <div class="album bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>Kontakt</h2>
                    <p>Diese Seite lebt von aktuellen Informationen aus der Region! <br />
                        Helfen Sie doch mit, und schicken mir ein paar Infos und Aktualisierungen!</p>
                    <p>
                        Telefon: <a href="tel:0049123456789">0123 - 456789</a><br />
                        WhatsApp, Telegram:  0151 - 123456789<br />
                        E-Mail: <a href="mailto:mail@meine-domain.de">mail@meine-domain.de</a>
                    </p>


                </div>
            </div>
        </div>
    </div>
{% endblock %}




