{% extends "base.twig" %}

{% block content %}
    <div class="card bg-dark text-white header-card d-print-none">
        <img src="/Img/nirgendheim_Dietkirch2_1024.JPG" class="card-img" alt="nirgendheim Dietkirch">
        <p class="copyright">
            &copy; <a href="https://commons.wikimedia.org/wiki/File:Dietkirch_-_Kirche_und_ehemalige_Schule.jpg" title="via Wikimedia Commons">Robme66</a> /
            <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA</a>
        </p>

    </div>
    <div class="album bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>Kontakt</h2>
                    <p>Diese Seite lebt von aktuellen Informationen aus der Region! <br />
                        Helfen Sie doch mit, und schicken mir ein paar Infos und Aktualisierungen!</p>
                    <p>
                        Telefon: <a href="tel:004915167223187">0151/67223187</a><br />
                        WhatsApp, Telegram:  0151/67223187<br />
                        E-Mail: <a href="mailto:mail@meine-domain.de">mail@meine-domain.de</a>
                    </p>


                </div>
            </div>
        </div>
    </div>
{% endblock %}




