{% extends "base.twig" %}

{% block content %}
    <div class="card bg-dark text-white header-card d-print-none">
        <img src="/Img/mundschutz.JPG" class="card-img" alt="Community-Masken">
        <p class="copyright">
            &copy; <a href="https://www.gessertshausen-info.de/" target="_blank">gessertshausen-info.de</a>
        </p>
    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12 py-3">
                    <h2>Selbstgenähte Community Masken</h2>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            <h4>Nähgruppe</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Wir haben eine Nähgruppe für selbstgenähte Masken gegründet!
                            </p>
                            <p class="card-text">
                                <b>Jeder ist bei uns willkommen!</b><br />
                                Willst du vielleicht Masken für deine Freunde und Familie nähen? Oder sogar ehrenamtlich welche für andere herstellen? <br />
                                Auch Anfängern helfen wir gerne weiter, denn so schwer ist das gar nicht!
                            </p>
                            <p class="card-text">
                                Zum Austausch haben wir eine WhatsApp Gruppe eingerichet:
                            </p>
                            <a href="https://chat.whatsapp.com/GmyQQqDMik9BaJkpZ9SOOa" class="btn btn-primary" target="_blank">Zur WhatsApp Gruppe</a>
                            <p class="card-text py-2">
                                Schau doch einfach mal vorbei!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            <h4>Wo bekomme ich eine Maske?</h4>
                        </div>
                        <div class="card-img">
                            <img src="/Img/masken_rathaus2.jpg" class="card-img-top" alt="Behelfs-Mund-Nasen-Maske">
                            <div class="copyright">
                                &copy; <a href="https://www.gessertshausen-info.de/">gessertshausen-info.de</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Beim <b>Rathaus Gessertshausen</b> steht eine rote Kiste mit Masken. <br />
                                Die Kiste steht im Eingangsbereich, neben den gelben Säcken.
                            </p>
                            <p>Die zweite Kiste steht im <b>Wagner Markt</b> in Deubach.</p>
                            <p class="card-text">
                                Es kann sich jeder eine nehmen, der eine braucht - natürlich nur so lange der Vorrat reicht. <br />
                                Sobald wieder welche genäht sind, wird die Kiste auch nachgefüllt.<br />
                                Deswegen bitte nur <b>1 Maske pro Person</b> im Haushalt mitnehmen.<br />
                            </p>
                            <p class="card-text">
                                Wir bitten um eine <b>kleine Spende</b> für Materialkosten - zwischen 50Ct und 3 EUR. <br />
                                Die Spende ist freiwillig, d.h. jeder der gerade in finanziellen Nöten ist kann sich diese auch kostenlos nehmen! <br />
                                Das Geld bitte in den Rathaus Briefkasten werfen, bzw. im Wagner gibts ein Spendenschwein.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            <h4>Wo kann ich Masken abgeben?</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Ihr könnt sie bei mir in den Briefkasten werfen (Hauptstr. 54), dann verteile ich sie weiter.
                            </p>
                            <p class="card-text">
                                Oder ihr verpackt sie selber, und legt sie direkt beim Rathaus in die Kiste.
                            </p>
                            <p class="card-text">
                                Es gibt auch einen kleinen Info-Zettel zur Maske mit dazu, den kann man hier runterladen:
                            </p>
                            <a href="/Img/MaskeFlyer3.pdf" class="btn btn-primary" target="_blank">Infozettel zum Ausdrucken</a><br />
                            <img src="/Img/MaskeFlyer3.jpg" style="width:400px;max-width:100%;" alt="Maske Information" />
                        </div>

                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            <h4>Wie nähe ich eine Maske?</h4>
                        </div>
                        <div class="card-img">
                            <img src="/Img/mundschutz.JPG" class="card-img-top" alt="Behelfs-Mund-Nasen-Maske">
                            <div class="copyright">
                                &copy; <a href="https://www.gessertshausen-info.de/">gessertshausen-info.de</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Die am einfachsten zu nähende Maske ist diese hier: <br />
                                <a href="https://www.stoffe.de/mundschutz-selber-naehen.html" target="_blank">Nähanleitung auf stoffe.de</a>
                            </p>
                            <a href="https://www.stoffe.de/mundschutz-selber-naehen.html" target="_blank"  class="btn btn-primary">Zur Nähanleitung</a>
                            <p class="card-text py-3">
                                Darüber hinaus sind jede Menge weitere Schnittmuster, Nähanleitungen und Videos im Internet zu finden.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            <h4>Wo kann ich Masken kaufen?</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                In der Apotheke Gessertshausen gibt es medizinische Masken zu kaufen.
                            </p>
                            <p>
                                Selbstgenähte Masken werden gerade viele über
                                <a href="https://www.etsy.com/de/" target="_blank">etsy</a> und
                                <a href="https://ebay.de" target="_blank">ebay</a> angeboten. Am besten nach "Behelfsmaske" suchen!
                            </p>
                            <p class="card-text">
                                Für Unternehmen hat der Verband bayerische Wirtschaft eine Plattform geschaffen, auf der
                                die Hersteller von Schutzprodukten zu finden sind: <br />
                                <a href="https://www.plattform-corona-schutzprodukte.de/" target="_blank">https://www.plattform-corona-schutzprodukte.de/</a>
                            </p>
                            <p class="card-text">
                                Wer in der Region Masken näht und zum Verkauf anbietet, kann gerne kostenlos hier inserieren!
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            {{ include('Partials/categories.twig') }}
        </div>
    </div>



{% endblock %}




