{% extends "base.twig" %}

{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 id="news">Aktuelles</h2>

                    <p>Morbi vestibulum volutpat enim. Cras non dolor. Curabitur turpis. Donec mi odio, faucibus at, scelerisque quis, convallis in, nisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.

                        Nullam tincidunt adipiscing enim. Nulla facilisi. Donec id justo. Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus. Morbi nec metus.

                        Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi sem ut ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus. In dui magna, posuere eget, vestibulum et, tempor auctor, justo. Phasellus gravida semper nisi. Maecenas egestas arcu quis ligula mattis placerat.</p>
                </div>

            </div>

        </div>
    </div>
{% endblock %}




