{% extends "base.twig" %}

{% block content %}
    <div class="card bg-dark text-white header-card d-print-none">
        <img src="/Img/osterkorb_1920.jpg" class="card-img" alt="Geschäfte und Einrichtungen">
        <p class="copyright">
            &copy; <a href="https://pixabay.com/de/users/Couleur-1195798/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2093315">Couleur-1195798</a> auf <a href="https://pixabay.com/de/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2093315">Pixabay</a>
        </p>

    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Alles rund um das Osterfest</h2>
                    <p>
                        Das ist eine Beispiel-Seite für Sonderseiten, z.B. Ostern, ein
                    </p>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Vorbestellen
                        </div>
                        <div class="card-img">
                            <img src="/Img/telefon_640.jpg" class="card-img-top" alt="Bäckerei">
                            <div class="copyright">
                                &copy; <a href="https://pixabay.com/de/users/526663-526663/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=499991">Stefan Kuhn</a> auf <a href="https://pixabay.com/de/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=499991">Pixabay</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Vorbestellung und Abholung</h5>
                            <p class="card-text">
                                Sie wissen ja selber wieviel vor den Feiertagen immer los ist beim einkaufen.<br />
                                Nutzen Sie doch dieses Jahr besonders die Vorbestell-Möglichkeiten in den Geschäften, dann liegt alles bereits für Sie bereit!
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Bäckerei Nirgendheim
                        </div>
                        <div class="card-img">
                            <img src="/Img/osterkorb_640.jpg" class="card-img-top" alt="Osterkorb">
                            <div class="copyright">
                                &copy; <a href="https://pixabay.com/de/users/Couleur-1195798/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2093315">Couleur-1195798</a> auf <a href="https://pixabay.com/de/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2093315">Pixabay</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Wir packen deinen Osterkorb!</h5>
                            <p class="card-text">
                                Die Bäckerei Nirgendheim bietet einen Osterkorb mit Osterlamm, Ostereiern und Osterschicken in 2 Größen an. Lieferung direkt nach Hause oder zum Beschenkten.
                            </p>

                            <a href="https://www.meine-domain.de/osterkorb"
                               class="btn btn-primary" target="_blank">zum Osterkorb</a>
                        </div>
                    </div>
                </div>


            </div>

            {{ include('Partials/categories.twig') }}
            {{ include('Partials/about.twig') }}
        </div>
    </div>
{% endblock %}




