{% extends "base.twig" %}

{% block content %}
    <div class="card bg-dark text-white header-card d-print-none">
        <img src="/Img/osterkorb_1920.jpg" class="card-img" alt="Geschäfte und Einrichtungen">
        <p class="copyright">
            &copy; <a href="https://pixabay.com/de/users/Couleur-1195798/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2093315">Couleur-1195798</a> auf <a href="https://pixabay.com/de/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2093315">Pixabay</a>
        </p>

    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Alles rund um das Osterfest</h2>
                    <p>
                        Das Osterfest steht vor der Türe, doch heuer ist alles ein bißchen anders. <br />
                        Hier werden wir im Laufe der Woche Ideen und Angebote sammeln, damit das Osterfest auch dieses Jahr ein Fest der Freude wird!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Vorbestellen
                        </div>
                        <div class="card-img">
                            <img src="/Img/telefon_640.jpg" class="card-img-top" alt="Bäckerei">
                            <div class="copyright">
                                &copy; <a href="https://pixabay.com/de/users/526663-526663/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=499991">Stefan Kuhn</a> auf <a href="https://pixabay.com/de/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=499991">Pixabay</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Vorbestellung und Abholung</h5>
                            <p class="card-text">
                                Sie wissen ja selber wieviel vor den Feiertagen immer los ist beim einkaufen.<br />
                                Nutzen Sie doch dieses Jahr besonders die Vorbestell-Möglichkeiten in den Geschäften, dann liegt alles bereits für Sie bereit!
                            </p>
                            <ul>
                                <li>Metzgerei Dichtl, nirgendheim</li>
                                <li>Bäckerei Schneider, nirgendheim</li>
                                <li>Bäckerei Schnell, Margertshausen</li>
                                <li>Blumenladen Edmann - im Wagner Markt Deubach</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Blumen zu Ostern
                        </div>
                        <div class="card-img">
                            <img src="/Img/blumenstube_wagner.jpg" class="card-img-top" alt="Pizza">
                            <div class="copyright">
                                &copy; <a href="https://www.facebook.com/photo.php?fbid=1292872734250204&set=p.1292872734250204&type=3&theater" target="_blank">Facebook, Nathalie Blaha</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Blumenstube Edmann im Wagner Deubach</h5>
                            <p class="card-text">
                                Es gibt im Wagner Markt Deubach ein eigenes Regal mit <b>Oster-Dekorationen</b> der Blumenstube Edmann. <br/>
                            </p>
                            <p class="card-text">
                                Ab <b>Mittwoch, den 8. April</b> wird es im Wagner Markt auch <b>frische Blumensträuße</b> für Ostern geben!<br/>
                            </p>
                            <p>Sie können direkt in der Blumenstube Bestellungen aufgeben, diese werden Ihnen dann geliefert. <br />
                                Erreichbar ist die Blumenstube von Mo-Fr von 16.00 Uhr bis 18.00 Uhr unter
                                <a href="tel:+4917643462961" class="btn btn-primary">Tel: 0176 434 629 61</a></p>
                            <a href="https://blumenstube-nirgendheim.de/"
                               class="btn btn-primary" target="_blank">zur Webseite</a>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Bäckerei Niedermair
                        </div>
                        <div class="card-img">
                            <img src="/Img/osterkorb-niedermair.jpg" class="card-img-top" alt="Osterkorb">
                            <div class="copyright">
                                &copy; <a href="https://www.baeckerei-niedermair.de/">Bäckerei Niedermair</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Wir packen deinen Osterkorb und liefern dein Osterfrühstück!</h5>
                            <p class="card-text">
                                Die Bäckerei Niedermair bietet einen Osterkorb mit Osterlamm, Ostereiern und Osterschicken in 2 Größen an. Lieferung direkt nach Hause oder zum Beschenkten.
                            </p>
                            <p class="card-text">
                                Für Ostersonntag und Ostermontag kann man sich sogar sein Osterfrühstück bringen lassen, mit frischen Semmeln, Wurst/Käse-Platte, und natürlich einem Osterlamm und Osterfladen!
                            </p>

                            <a href="https://www.baeckerei-niedermair.de/wp-content/uploads/Osterkorb-Flyer.pdf"
                               class="btn btn-primary" target="_blank">zum Osterkorb</a>
                            <a href="https://www.baeckerei-niedermair.de/wp-content/uploads/Fruehstueck-to-go.pdf"
                               class="btn btn-primary" target="_blank">zum Osterfrühstück</a>
                        </div>
                    </div>
                </div>

            </div>

            {{ include('Partials/categories.twig') }}
            {{ include('Partials/about.twig') }}
        </div>
    </div>
{% endblock %}




