{% extends "base.twig" %}

{% block content %}
    <div class="card bg-dark text-white header-card d-print-none">
        <img src="/Img/osterkorb_1920.jpg" class="card-img" alt="Geschäfte und Einrichtungen">
        <p class="copyright">
            &copy; <a href="https://pixabay.com/de/users/Couleur-1195798/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2093315">Couleur-1195798</a> auf <a href="https://pixabay.com/de/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2093315">Pixabay</a>
        </p>

    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Alles rund um das Osterfest</h2>
                    <p>
                        Das Osterfest steht vor der Türe, doch heuer ist alles ein bißchen anders. <br />
                        Hier werden wir im Laufe der Woche Ideen und Angebote sammeln, damit das Osterfest auch dieses Jahr ein Fest der Freude wird!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Pfarrgemeinschaft Dietkirch
                        </div>
                        <div class="card-img">
                            <img src="/Img/kerze_640.jpg" class="card-img-top" alt="Ostergeschichten">
                            <div class="copyright">
                                &copy; <a href="https://pixabay.com/de/users/Myriams-Fotos-1627417/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1926414">Myriam Zilles</a> auf <a href="https://pixabay.com/de/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1926414">Pixabay</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Osterlicht und Gottesdienst</h5>
                            <p class="card-text">
                                Es dürfen keine öffentlichen Gottesdienste gefeiert werden, aber in den Kirchen findet trotzdem eine Liturgie statt. Zum Zeichen dafür werden dabei in allen Gemeinden die Glocken zu folgenden Zeiten läuten:
                            </p>
                            <table class="table">
                                <tbody>
                                    <tr><td>Gründonnerstag</td><td>15:00 Uhr</td></tr>
                                    <tr><td>Karfreitag</td><td>19:30 Uhr</td></tr>
                                    <tr><td>Samstag Osternacht</td><td>20:00 Uhr</td></tr>
                                    <tr><td>Ostersonntag</td><td>10:00 Uhr</td></tr>
                                    <tr><td>Ostermontag</td><td>10:00 Uhr</td></tr>
                                </tbody>
                            </table>
                            <p class="card-text">
                                Eine schöne Tradition ist das <b>Osterlicht</b>: Man bringt eine eigene Kerze mit, die am Osterlicht der Kirche entzündet wird. Damit trägt man den Ostersegen und das Licht Christi ins eigene Heim.
                                Ostersonntag ab 8:00 ist das in allen Kirchen der Pfarrei möglich!
                            </p>
                            <p>Die Kirchen der Pfarreiengemeinschaft Dietkirch sind auch aktuell zu den jeweils ortsüblichen Zeiten zum persönlichen Gebet und Verweilen geöffnet.</p>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Blühpatenschaft
                        </div>
                        <div class="card-img">
                            <img src="/Img/bieneblume_640.jpg" class="card-img-top" alt="Ostergeschichten">
                            <div class="copyright">
                                &copy; <a href="https://pixabay.com/de/users/MichaelGaida-652234/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3530729">MichaelGaida</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Blühpatenschaft zu Ostern verschenken</h5>
                            <p class="card-text">
                                <b>Was ist die Blühpatenschaft?</b><br />
                                Ins Leben gerufen wurde das 2019 von der Familie Reitmayer, ein landwirtschaftlicher Familienbetrieb im Nebenerwerb. <br />
                                Sie haben angefangen, eine landwirtschaftliche Anbaufläche mit ausgesuchten Wildblumen anzusähen. Diese dienen als Nahrung für Wildbienen und Insekten, und bieten Rückzugsraum für Wildtiere. <br />
                            </p>
                            <p class="card-text">
                                Als landwirtschaftlicher Betrieb stellen sie die Fläche und die nötigen Gerätschaften zur Verfügung, und mit der Blühpatenschaft trägt man dafür einen Teil der betrieblichen Kosten.<br />
                                Ein Anteil beträgt 35€ für 100m2, damit sichern Sie 12 Monate lang diese Aktion.
                            </p>
                            <p>Als Ostergeschenk können Sie einfach und kontaktlos per Mail die Blühpatenschaft abschließen und somit ein Stück Wildblumen-Wiese verschenken. </p>
                            <a href="mailto:lebensraum-schaffen@web.de" class="btn btn-primary" target="_blank">Mail</a>
                            <a href="/Img/bluehpatenschaft.pdf" class="btn btn-primary" target="_blank">Projektbeschreibung</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Oberschönenfeld
                        </div>
                        <div class="card-img">
                            <img src="/Img/oberschoenenfeld.jpg" class="card-img-top" alt="Kloster Oberschönenfeld">
                            <div class="copyright">
                                &copy; <a href="https://abteioberschoenenfeld.de/" target="_blank">abteioberschoenenfeld.de/</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Kloster Oberschönenfeld</h5>
                            <p class="card-text">
                                Auch an Ostern dürfen aus Sicherheitsgründen keine öffentlichen Gottesdienste statt finden.
                            </p>
                            <p class="card-text">
                                Jedoch ist unsere Abteikirche für Aussenstehende den ganzen Tag zum Besuch und für ein persönliches Verweilen vor dem Herrn göffnet. <br />
                                Auf diesem Wege können alle Einkehrende mit uns Schwestern, oder wenigstens mit einer Schwester, immer im Gebet verbunden sein, bis zum Abend. <br />
                                Gebetszettel und Gebetsbücher finden sie in der Kirche, auch die Möglichkeit, am Gnadenaltar eine Kerze anzuzünden. <br />
                            </p>
                            <p class="card-text">
                                Bei Gott gibt es keine räumliche Trennung!</p>
                            <p class="card-text">
                                Unsere festen Gebetszeiten, sechs Mal am Tag, halten wir wie gewohnt.
                                Hinzu kommen in dieser schweren Zeit nun noch 8 Stunden stille Anbetung von 9.00 - bis 17.00 Uhr.
                                Dazu trägt sich für jede Stunde eine Schwester ein, die stellvertretend für alle betet.
                            </p>

                            <a href="https://abteioberschoenenfeld.de/" class="btn btn-primary" target="_blank">Zur Webseite</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Blumen zu Ostern
                        </div>
                        <div class="card-img">
                            <img src="/Img/blumenstube_wagner.jpg" class="card-img-top" alt="Pizza">
                            <div class="copyright">
                                &copy; <a href="https://www.facebook.com/photo.php?fbid=1292872734250204&set=p.1292872734250204&type=3&theater" target="_blank">Facebook, Nathalie Blaha</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Blumenstube Edmann im Wagner Deubach</h5>
                            <p class="card-text">
                                Es gibt im Wagner Markt Deubach ein eigenes Regal mit <b>Oster-Dekorationen</b> der Blumenstube Edmann. <br/>
                            </p>
                            <p class="card-text">
                                Ab <b>Mittwoch, den 8. April</b> wird es im Wagner Markt auch <b>frische Blumensträuße</b> für Ostern geben!<br/>
                            </p>
                            <p>Sie können direkt in der Blumenstube Bestellungen aufgeben, diese werden Ihnen dann geliefert. <br />
                                Erreichbar ist die Blumenstube von Mo-Fr von 16.00 Uhr bis 18.00 Uhr unter
                                <a href="tel:+4917643462961" class="btn btn-primary">Tel: 0176 434 629 61</a></p>
                            <a href="https://blumenstube-gessertshausen.de/"
                               class="btn btn-primary" target="_blank">zur Webseite</a>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Bäckerei Niedermair
                        </div>
                        <div class="card-img">
                            <img src="/Img/osterkorb-niedermair.jpg" class="card-img-top" alt="Osterkorb">
                            <div class="copyright">
                                &copy; <a href="https://www.baeckerei-niedermair.de/">Bäckerei Niedermair</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Wir packen deinen Osterkorb und liefern dein Osterfrühstück!</h5>
                            <p class="card-text">
                                Die Bäckerei Niedermair bietet einen Osterkorb mit Osterlamm, Ostereiern und Osterschicken in 2 Größen an. Lieferung direkt nach Hause oder zum Beschenkten.
                            </p>
                            <p class="card-text">
                                Für Ostersonntag und Ostermontag kann man sich sogar sein Osterfrühstück bringen lassen, mit frischen Semmeln, Wurst/Käse-Platte, und natürlich einem Osterlamm und Osterfladen!
                            </p>

                            <a href="https://www.baeckerei-niedermair.de/wp-content/uploads/Osterkorb-Flyer.pdf"
                               class="btn btn-primary" target="_blank">zum Osterkorb</a>
                            <a href="https://www.baeckerei-niedermair.de/wp-content/uploads/Fruehstueck-to-go.pdf"
                               class="btn btn-primary" target="_blank">zum Osterfrühstück</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Buchladen Fischach
                        </div>
                        <div class="card-img">
                            <img src="/Img/ostergeschichten.jpg" class="card-img-top" alt="Ostergeschichten">
                            <div class="copyright">
                                &copy; <a href="http://www.lesehexe.de/">lesehexe.de</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Ostergeschichten von der Lesehexe, Fischach</h5>
                            <p class="card-text">
                                Der Fischacher Buchladen hat zwar geschlossen, hat aber einen eigenen Online-Shop! </p>
                            <p class="card-text">
                                Hier könnt Ihr euch eure Bücher versandkostenfrei nach Hause bestellen.<br />
                                Mit ein paar Klicks gelangt Ihr somit einerseits schnell zu euren Lieblingsbüchern und unterstützt andererseits ein lokales Geschäft in eurer Region.<br />
                                Und wer weiß, vielleicht findet Ihr ja auch noch ein kleines Ostergeschenk für eure Liebsten.🐰🐣<br />
                            </p>
                            <a href="https://lesehexe.buchhandlung.de/shop/magazine/14981/ostern.html"
                               class="btn btn-primary" target="_blank">Ostern im Lesehexe Shop</a>
                        </div>
                    </div>
                </div>




            </div>

            {{ include('Partials/categories.twig') }}
            {{ include('Partials/about.twig') }}
        </div>
    </div>
{% endblock %}




