{% extends "base.twig" %}

{% block content %}
    <div class="card bg-dark text-white header-card d-print-none">
        <img src="/Img/schnipo_1920.jpg" class="card-img" alt="Restaurants und Lieferdienste">
        <p class="copyright">
            &copy; <a href="https://pixabay.com/de/users/Hans-2/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1837703">Hans Braxmeier</a> auf <a href="https://pixabay.com/de/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1837703">Pixabay</a>
        </p>
    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Restaurants und Lieferdienste</h2>
                    <p>
                        Viele Restaurants bieten jetzt eine Abholung von Speisen an. <br />
                        Es gibt auch Lieferdienste zu Ihnen nach Hause.
                    </p>
                </div>
            </div>
            <h2>Öffungszeiten Übersicht</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Mittags</th>
                            <th scope="col">Abends</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-info">
                            <th scope="row">Mo</th>
                            <td>
                                <table class="table table-striped">
                                    <tr>
                                        <td>Traube Anhausen</td>
                                        <td>11:00–14:00</td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table class="table table-striped">
                                    <tr>
                                        <td>Traube Anhausen</td>
                                        <td>17:30–20:00</td>
                                    </tr>
                                    <tr>
                                        <td>Traube Fischach</td>
                                        <td>17:30–20:30</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr class="table-success">
                            <th scope="row">Di</th>
                            <td>
                                <table class="table table-striped">
                                    <tr>
                                        <td>Traube Anhausen</td>
                                        <td>11:00–14:00</td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table class="table table-striped">
                                    <tr>
                                        <td>Traube Anhausen</td>
                                        <td>17:30–20:00</td>
                                    </tr>
                                    <tr>
                                        <td>Traube Fischach</td>
                                        <td>17:30–20:30</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr class="table-info">
                            <th scope="row">Mi</th>
                            <td>
                                <table class="table table-striped">
                                    <tr>
                                        <td>Traube Anhausen</td>
                                        <td>11:00–14:00</td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table class="table table-striped">
                                    <tr>
                                        <td>Traube Anhausen</td>
                                        <td>17:30–20:00</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr class="table-success">
                            <th scope="row">Do</th>
                            <td>
                                <table class="table table-striped">
                                    <tr>
                                        <td>Traube Anhausen</td>
                                        <td>11:00–14:00</td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table class="table table-striped">
                                    <tr>
                                        <td>Traube Anhausen</td>
                                        <td>17:30–20:00</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr class="table-info">
                            <th scope="row">Fr</th>
                            <td>
                                <table class="table table-striped">
                                    <tr>
                                        <td>Traube Anhausen</td>
                                        <td>11:00–14:00</td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table class="table table-striped">
                                    <tr>
                                        <td>Hubertus Klause</td>
                                        <td>17:30–21:00</td>
                                    </tr>
                                    <tr>
                                        <td>Traube Anhausen</td>
                                        <td>17:30–20:00</td>
                                    </tr>
                                    <tr>
                                        <td>Traube Fischach</td>
                                        <td>17:30–20:30</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr class="table-success">
                            <th scope="row">Sa</th>
                            <td>
                                <table class="table table-striped">
                                    <tr>
                                        <td>Traube Anhausen</td>
                                        <td>11:00–14:00</td>
                                    </tr>
                                    <tr>
                                        <td>Traube Fischach</td>
                                        <td>11:00-13:30</td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table class="table table-striped">
                                    <tr>
                                        <td>Hubertus Klause</td>
                                        <td>17:30–21:00</td>
                                    </tr>
                                    <tr>
                                        <td>Traube Anhausen</td>
                                        <td>17:30–20:00</td>
                                    </tr>
                                    <tr>
                                        <td>Traube Fischach</td>
                                        <td>17:30–20:30</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr class="table-info">
                            <th scope="row">So</th>
                            <td>
                                <table class="table table-striped">
                                    <tr>
                                        <td>Traube Anhausen</td>
                                        <td>11:00–14:00</td>
                                    </tr>
                                    <tr>
                                        <td>Traube Fischach</td>
                                        <td>11:00-13:30</td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table class="table table-striped">
                                    <tr>
                                        <td>Hubertus Klause</td>
                                        <td>17:30–21:00</td>
                                    </tr>
                                    <tr>
                                        <td>Traube Anhausen</td>
                                        <td>17:30–20:00</td>
                                    </tr>
                                    <tr>
                                        <td>Traube Fischach</td>
                                        <td>17:30–20:30</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Gasthof zur Traube, Fischach
                        </div>
                        <div class="card-img">
                            <img src="/Img/traube-fischach2.jpg" class="card-img-top" alt="Gasthof zur Traube" />
                            <div class="copyright">
                                &copy; <a href="https://traube-fischach.de/" target="_blank">traube-fischach.de</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Traube Fischach</h5>
                            <p class="card-text">
                                Der Gasthof zur Traube bietet verschiedene Gerichte zum Abholen an,
                                Bestellung unter <a href="tel:0049823696060" target="_blank" >Tel: 08236 / 96060</a>
                            </p>
                            <p class="card-text">
                                Öffnungszeiten: Montag, Dienstag & Freitag
                                von 17.30-20.30 Uhr<br />
                                Samstag, Sonntag und Ostermontag
                                von 11.00-13.30 Uhr und 17.30-20.30 Uhr
                            </p>
                            <p class="card-text">
                                Unser Speisenangebot finden Sie unter <a href="https://traube-fischach.de/">https://traube-fischach.de/</a>
                                <br />
                                An Ostern gibts zusätzlich Schweinsbraten (bitte vorbestellen), und der Montag ist immer Cordon-bleu-Tag
                            </p>
                            <a href="https://traube-fischach.de/948-2/" target="_blank" class="btn btn-primary">Speisekarte</a>
                            <a href="tel:0049823696060" target="_blank" class="btn btn-primary">Tel: 08236 / 96060</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Gasthof zur Traube, Anhausen
                        </div>
                        <div class="card-img">
                            <img src="/Img/traube_anhausen.jpg" class="card-img-top" alt="Gasthof zur Traube" />
                            <div class="copyright">
                                &copy; <a href="https://www.traube-anhausen.de/" target="_blank">traube-anhausen.de</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">TRAUBE Anhausen 🍇</h5>
                            <p class="card-text">
                                Wir möchten in diesen schwierigen Zeiten auch weiterhin für Euch da sein und bieten Euch deswegen ab sofort unsere Speisen und Getränke zum Abholen und auf Anfrage auch mit Lieferung an!
                            </p>
                            <p class="card-text">
                                Öffnungszeiten: Täglich mittags von 11:00 bis 14:00 Uhr und abends von 17:30 bis 20:00 Uhr!
                            </p>
                            <p class="card-text">
                                Bestellungen bitte telefonisch unter <a href="tel:004982382211">08238/2211</a> (auch regelmäßige Vorbestellungen möglich)
                            </p>
                            <p class="card-text">
                                Unsere Speisekarte „To - Go“ findet ihr auch auf unserer
                                <a href="https://www.traube-anhausen.de/Speisen/Tageskarte/index.php/" target="_blank">Website unter Speisen -> Tageskarte</a>,
                                oder auf <a href="https://www.facebook.com/GasthofZurTraube" target="">Facebook</a> oder ihr ruft uns einfach an!
                            </p>
                            <a href="https://www.traube-anhausen.de/Speisen/Tageskarte/index.php/" target="_blank"  class="btn btn-primary">Speisekarte</a>
                            <a href="tel:004982382211"  class="btn btn-primary">Tel: 08238 - 2211</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Pizzeria
                        </div>
                        <div class="card-img">
                            <img src="/Img/hubertus_klause.jpg" class="card-img-top" alt="Pizza" />
                            <div class="copyright">
                                &copy; <a href="https://pixabay.com/de/users/publicdomainimages-327722/">PublicDomainImages</a> auf <a href="https://pixabay.com/de/photos/pizza-trinken-lebensmittel-386717/">Pixabay</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Hubertus Klause Deubach</h5>
                            <p class="card-text">
                                Wir bieten unsere Speisen aus den Rubriken Pizza, Pasta und Salat sehr gerne zum Abholen an.</p>
                            <p class="card-text">
                                Öffnungszeiten: Freitag bis Sonntag sind wir von 17:30 Uhr bis 21:00 Uhr für euch da. <br />
                                An den Osterfeiertagen Karfreitag, Ostersonntag und Ostermontag nehmen wir gerne auch von 11:30 Uhr bis 14:00 Uhr Eure Bestellungen entgegen.
                            </p>
                            <p class="card-text">
                                Auf unserer <a href="http://www.hubertusklause-deubach.de" target="_blank" >Homepage</a> findet Ihr auch unsere
                                <a href="http://www.hubertusklause-deubach.de/fileadmin/images/Pizza_zum_Abholen_Pizzeria_Deubach.pdf" target="_blank">Speisekarte</a>
                                Speisekarte.
                            </p>
                            <p class="card-text">
                                Bestellt Eure Lieblingsgerichte bitte einfach telefonisch unter <a href="tel:004982381463">Tel: 08238-1463</a>.
                            </p>
                            <a href="tel:004982381463" class="btn btn-primary">Tel: 08238-1463</a>
                            <a href="http://www.hubertusklause-deubach.de/fileadmin/images/Pizza_zum_Abholen_Pizzeria_Deubach.pdf" target="_blank" class="btn btn-primary">Speisekarte</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Pizza Lieferdienst
                        </div>
                        <div class="card-img">
                            <img src="/Img/pizza2_640.jpg" class="card-img-top" alt="Pizza" />
                            <div class="copyright">
                                &copy; <a href="https://pixabay.com/de/users/publicdomainimages-327722/">PublicDomainImages</a> auf <a href="https://pixabay.com/de/photos/pizza-trinken-lebensmittel-386717/">Pixabay</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Bellanova Gessertshausen</h5>
                            <p class="card-text">
                                Pizzeria mit Lieferdienst in Gessertshausen und Umgebung <br />
                            </p>
                            <p class="card-text">
                                Öffnungszeiten: Täglich mittags von 11:00 bis 13:45 Uhr und abends von 17:00 bis 21:45 Uhr!
                            </p>
                            <a href="tel:004982389091561" target="_blank" class="btn btn-primary">Tel: 08238 - 9091561</a>
                            <a href="https://www.online-pizza.de/shop.php?shop_id=9500718" target="_blank" class="btn btn-primary">Speisekarte</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header">
                            Eisdiele
                        </div>
                        <div class="card-img">
                            <img src="/Img/eis_640.jpg" class="card-img-top" alt="Pizza">
                            <div class="copyright">
                                <a href="https://pixabay.com/de/users/JESHOOTS-com-264599/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=410330">Jan Vašek</a> auf <a href="https://pixabay.com/de/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=410330">Pixabay</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Eisdiele LaGelateria Dinkelscherben</h5>
                            <p class="card-text">
                                Die Eisdiele hat geöffnet, aber nur zum abholen! <br />
                                Aktuelle Info von der <a href="https://www.facebook.com/LaGelateriaDinkel">LaGelateria Facebook Seite:</a> <br />
                                <span class="quote">
                                    Lieber Kunde, <br />
                                    aufgrund der Coronakrise, ändern wir kurzfristig unsere Öffnungszeiten.<br />
                                    Täglich von 14:00-20:00 nur zum mitnehmen bzw. abholen<br />
                                    Leckeres Eis, Pizza, Pasta und Salata gibt es aber trotzdem noch<br />
                                    Euer La Gelateria Team<br />
                                </span>
                            </p>
                            <a href="https://www.facebook.com/LaGelateriaDinkel" target="_blank" class="btn btn-primary">Zur Facebook Seite</a>
                        </div>
                    </div>
                </div>


            </div>
            {{ include('Partials/categories.twig') }}
            {{ include('Partials/about.twig') }}
        </div>
    </div>

{% endblock %}
