{% extends "base.twig" %}

{% block content %}
    <div class="card bg-dark text-white header-card d-print-none">
        <img src="/Img/schnipo_1920.jpg" class="card-img" alt="Restaurants und Lieferdienste">
        <p class="copyright">
            &copy; <a href="https://pixabay.com/de/users/Hans-2/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1837703">Hans Braxmeier</a> auf <a href="https://pixabay.com/de/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1837703">Pixabay</a>
        </p>
    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Restaurants und Lieferdienste</h2>
                    <p>
                        Die Restaurant-Seite hat am Anfang zusätzlich eine Öffnungszeiten Tabelle. Der Tag wird automatisch per Javascript ausgewählt
                    </p>
                </div>
            </div>
            <h2>Restaurant Öffungszeiten</h2>
            <div class="row">
                <div class="col-md-12">

                    <ul class="nav nav-tabs" id="restaurantTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="montag-tab" data-toggle="tab" href="#montag" role="tab" aria-controls="montag" aria-selected="true">Montag</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="dienstag-tab" data-toggle="tab" href="#dienstag" role="tab" aria-controls="dienstag" aria-selected="false">Dienstag</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="mittwoch-tab" data-toggle="tab" href="#mittwoch" role="tab" aria-controls="mittwoch" aria-selected="false">Mittwoch</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="donnerstag-tab" data-toggle="tab" href="#donnerstag" role="tab" aria-controls="donnerstag" aria-selected="false">Donnerstag</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="freitag-tab" data-toggle="tab" href="#freitag" role="tab" aria-controls="freitag" aria-selected="false">Freitag</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="samstag-tab" data-toggle="tab" href="#samstag" role="tab" aria-controls="samstag" aria-selected="false">Samstag</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="sonntag-tab" data-toggle="tab" href="#sonntag" role="tab" aria-controls="sonntag" aria-selected="false">Sonntag</a>
                        </li>
                    </ul>
                    <div class="tab-content table-responsive" id="restaurantTabContent">
                        <div class="tab-pane fade show active" id="montag" role="tabpanel" aria-labelledby="montag-tab">
                            <h4>Mittag</h4>
                            <table class="table table-striped">
                                <tr>
                                    <td><a href="#beispielrestaurant">Beispielrestaurant</a></td>
                                    <td>11:00–14:00</td>
                                </tr>
                            </table>

                            <h4>Abend</h4>
                            <table class="table table-striped">
                                <tr>
                                    <td><a href="#beispielrestaurant">Beispielrestaurant</a></td>
                                    <td>17:30–20:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#traubefischach">Traube Fischach</a></td>
                                    <td>17:30–20:30</td>
                                </tr>
                            </table>

                        </div>
                        <div class="tab-pane fade" id="dienstag" role="tabpanel" aria-labelledby="dienstag-tab">
                            <h4>Mittag</h4>
                            <table class="table table-striped">
                                <tr>
                                    <td><a href="#beispielrestaurant">Beispielrestaurant</a></td>
                                    <td>11:00–14:00</td>
                                </tr>
                            </table>
                            <h4>Abend</h4>
                            <table class="table table-striped">
                                <table class="table table-striped">
                                    <tr>
                                        <td><a href="#feuerwerk">Feuerwerk Fischach</a></td>
                                        <td>17:00–21:00</td>
                                    </tr>
                                    <tr>
                                        <td><a href="#beispielrestaurant">Beispielrestaurant</a></td>
                                        <td>17:30–20:00</td>
                                    </tr>
                                    <tr>
                                        <td><a href="#traubefischach">Traube Fischach</a></td>
                                        <td>17:30–20:30</td>
                                    </tr>
                                </table>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="mittwoch" role="tabpanel" aria-labelledby="mittwoch-tab">
                            <h4>Mittag</h4>
                            <table class="table table-striped">
                                <tr>
                                    <td><a href="#beispielrestaurant">Beispielrestaurant</a></td>
                                    <td>11:00–14:00</td>
                                </tr>
                            </table>
                            <h4>Abend</h4>
                            <table class="table table-striped">
                                <tr>
                                    <td><a href="#feuerwerk">Feuerwerk Fischach</a></td>
                                    <td>17:00–21:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#beispielrestaurant">Beispielrestaurant</a></td>
                                    <td>17:30–20:00</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="donnerstag" role="tabpanel" aria-labelledby="donnerstag-tab">
                            <h4>Mittag</h4>
                            <table class="table table-striped">
                                <tr>
                                    <td><a href="#beispielrestaurant">Beispielrestaurant</a></td>
                                    <td>11:00–14:00</td>
                                </tr>
                            </table>
                            <h4>Abend</h4>
                            <table class="table table-striped">
                                <tr>
                                    <td><a href="#feuerwerk">Feuerwerk Fischach</a></td>
                                    <td>17:00–21:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#beispielrestaurant">Beispielrestaurant</a></td>
                                    <td>17:30–20:00</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="freitag" role="tabpanel" aria-labelledby="freitag-tab">
                            <h4>Mittag</h4>
                            <table class="table table-striped">
                                <tr>
                                    <td><a href="#beispielrestaurant">Beispielrestaurant</a></td>
                                    <td>11:00–14:00</td>
                                </tr>
                            </table>
                            <h4>Abend</h4>
                            <table class="table table-striped">
                                <tr>
                                    <td><a href="#feuerwerk">Feuerwerk Fischach</a></td>
                                    <td>17:00–21:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#hubertusklause">Hubertus Klause</a></td>
                                    <td>17:30–21:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#beispielrestaurant">Beispielrestaurant</a></td>
                                    <td>17:30–20:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#traubefischach">Traube Fischach</a></td>
                                    <td>17:30–20:30</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="samstag" role="tabpanel" aria-labelledby="samstag-tab">
                            <h4>Mittag</h4>
                            <table class="table table-striped">
                                <tr>
                                    <td><a href="#beispielrestaurant">Beispielrestaurant</a></td>
                                    <td>11:00–14:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#traubefischach">Traube Fischach</a></td>
                                    <td>11:00-13:30</td>
                                </tr>
                            </table>
                            <h4>Abend</h4>
                            <table class="table table-striped">
                                <tr>
                                    <td><a href="#feuerwerk">Feuerwerk Fischach</a></td>
                                    <td>17:00–21:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#hubertusklause">Hubertus Klause</a></td>
                                    <td>17:30–21:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#beispielrestaurant">Beispielrestaurant</a></td>
                                    <td>17:30–20:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#traubefischach">Traube Fischach</a></td>
                                    <td>17:30–20:30</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="sonntag" role="tabpanel" aria-labelledby="sonntag-tab">
                            <h4>Mittag</h4>
                            <table class="table table-striped">
                                <tr>
                                    <td><a href="#beispielrestaurant">Beispielrestaurant</a></td>
                                    <td>11:00–14:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#traubefischach">Traube Fischach</a></td>
                                    <td>11:00-13:30</td>
                                </tr>
                            </table>
                            <h4>Abend</h4>
                            <table class="table table-striped">
                                <tr>
                                    <td><a href="#feuerwerk">Feuerwerk Fischach</a></td>
                                    <td>17:00–21:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#hubertusklause">Hubertus Klause</a></td>
                                    <td>17:30–21:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#beispielrestaurant">Beispielrestaurant</a></td>
                                    <td>17:30–20:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#traubefischach">Traube Fischach</a></td>
                                    <td>17:30–20:30</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header" id="beispielrestaurant">
                            Beispielrestaurant
                        </div>
                        <div class="card-img">
                            <img src="/Img/Pizza_1024.jpg" class="card-img-top" alt="Restaurant" />
                            <div class="copyright">
                                &copy; <a href="https://commons.wikimedia.org/wiki/File:Rotella_per_pizza.jpg" title="via Wikimedia Commons">Garonzi Stefania</a> / <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Restaurant xxxx</h5>
                            <p class="card-text">
                                Netter Beschreibungstext zum Restaurant
                            </p>
                            <p class="card-text">
                                Öffnungszeiten: Täglich mittags von 11:00 bis 14:00 Uhr und abends von 17:30 bis 20:00 Uhr!
                            </p>
                            <a href="https://www.beispielseite.de/speisekarte" target="_blank"  class="btn btn-primary">Speisekarte</a>
                            <a href="tel:00123456789"  class="btn btn-primary">Tel: 0123 - 456789</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header" id="pizzeria">
                            Pizza Lieferdienst
                        </div>
                        <div class="card-img">
                            <img src="/Img/pizza2_640.jpg" class="card-img-top" alt="Pizza" />
                            <div class="copyright">
                                &copy; <a href="https://pixabay.com/de/users/publicdomainimages-327722/">PublicDomainImages</a> auf <a href="https://pixabay.com/de/photos/pizza-trinken-lebensmittel-386717/">Pixabay</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Pizza Lieferdienst</h5>
                            <p class="card-text">
                                Pizzeria mit Lieferdienst in Irgendwo und Umgebung <br />
                            </p>
                            <p class="card-text">
                                Öffnungszeiten: Täglich mittags von 11:00 bis 13:45 Uhr und abends von 17:00 bis 21:45 Uhr!
                            </p>
                            <a href="tel:0049123456789" target="_blank" class="btn btn-primary">Tel: 0123 - 456789</a>
                            <a href="https://www.meine-pizzeria.de/speisekarte" target="_blank" class="btn btn-primary">Speisekarte</a>
                        </div>
                    </div>
                </div>

            </div>
            {{ include('Partials/categories.twig') }}
            {{ include('Partials/about.twig') }}
        </div>
    </div>

{% endblock %}
