{% extends "base.twig" %}

{% block content %}
    <div class="card bg-dark text-white header-card d-print-none">
        <img src="/Img/schnipo_1920.jpg" class="card-img" alt="Restaurants und Lieferdienste">
        <p class="copyright">
            &copy; <a href="https://pixabay.com/de/users/Hans-2/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1837703">Hans Braxmeier</a> auf <a href="https://pixabay.com/de/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1837703">Pixabay</a>
        </p>
    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Restaurants und Lieferdienste</h2>
                    <p>
                        Viele Restaurants bieten jetzt eine Abholung von Speisen an. <br />
                        Es gibt auch Lieferdienste zu Ihnen nach Hause.
                    </p>
                </div>
            </div>
            <h2>Restaurant Öffungszeiten</h2>
            <div class="row">
                <div class="col-md-12">

                    <ul class="nav nav-tabs" id="restaurantTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="montag-tab" data-toggle="tab" href="#montag" role="tab" aria-controls="montag" aria-selected="true">Montag</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="dienstag-tab" data-toggle="tab" href="#dienstag" role="tab" aria-controls="dienstag" aria-selected="false">Dienstag</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="mittwoch-tab" data-toggle="tab" href="#mittwoch" role="tab" aria-controls="mittwoch" aria-selected="false">Mittwoch</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="donnerstag-tab" data-toggle="tab" href="#donnerstag" role="tab" aria-controls="donnerstag" aria-selected="false">Donnerstag</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="freitag-tab" data-toggle="tab" href="#freitag" role="tab" aria-controls="freitag" aria-selected="false">Freitag</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="samstag-tab" data-toggle="tab" href="#samstag" role="tab" aria-controls="samstag" aria-selected="false">Samstag</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="sonntag-tab" data-toggle="tab" href="#sonntag" role="tab" aria-controls="sonntag" aria-selected="false">Sonntag</a>
                        </li>
                    </ul>
                    <div class="tab-content table-responsive" id="restaurantTabContent">
                        <div class="tab-pane fade show active" id="montag" role="tabpanel" aria-labelledby="montag-tab">
                            <h4>Mittag</h4>
                            <table class="table table-striped">
                                <tr>
                                    <td><a href="#traubeanhausen">Traube Anhausen</a></td>
                                    <td>11:00–14:00</td>
                                </tr>
                            </table>

                            <h4>Abend</h4>
                            <table class="table table-striped">
                                <tr>
                                    <td><a href="#hubertusklause">Hubertus Klause</a></td>
                                    <td>17:30–21:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#traubeanhausen">Traube Anhausen</a></td>
                                    <td>17:30–20:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#traubefischach">Traube Fischach</a></td>
                                    <td>17:30–20:30</td>
                                </tr>
                            </table>

                        </div>
                        <div class="tab-pane fade" id="dienstag" role="tabpanel" aria-labelledby="dienstag-tab">
                            <h4>Mittag</h4>
                            <table class="table table-striped">
                                <tr>
                                    <td><a href="#traubeanhausen">Traube Anhausen</a></td>
                                    <td>11:00–14:00</td>
                                </tr>
                            </table>
                            <h4>Abend</h4>
                            <table class="table table-striped">
                                <table class="table table-striped">
                                    <tr>
                                        <td><a href="#feuerwerk">Feuerwerk Fischach</a></td>
                                        <td>17:00–21:00</td>
                                    </tr>
                                    <tr>
                                        <td><a href="#traubeanhausen">Traube Anhausen</a></td>
                                        <td>17:30–20:00</td>
                                    </tr>
                                    <tr>
                                        <td><a href="#traubefischach">Traube Fischach</a></td>
                                        <td>17:30–20:30</td>
                                    </tr>
                                </table>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="mittwoch" role="tabpanel" aria-labelledby="mittwoch-tab">
                            <h4>Mittag</h4>
                            <table class="table table-striped">
                                <tr>
                                    <td><a href="#thaitsv">Thailänder Diedorf TSV</a></td>
                                    <td>11:30–15:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#traubeanhausen">Traube Anhausen</a></td>
                                    <td>11:00–14:00</td>
                                </tr>
                            </table>
                            <h4>Abend</h4>
                            <table class="table table-striped">
                                <tr>
                                    <td><a href="#hubertusklause">Hubertus Klause</a></td>
                                    <td>17:30–21:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#feuerwerk">Feuerwerk Fischach</a></td>
                                    <td>17:00–21:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#thaitsv">Thailänder Diedorf TSV</a></td>
                                    <td>17:00–21:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#traubeanhausen">Traube Anhausen</a></td>
                                    <td>17:30–20:00</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="donnerstag" role="tabpanel" aria-labelledby="donnerstag-tab">
                            <h4>Mittag</h4>
                            <table class="table table-striped">
                                <tr>
                                    <td><a href="#thaitsv">Thailänder Diedorf TSV</a></td>
                                    <td>11:30–15:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#traubeanhausen">Traube Anhausen</a></td>
                                    <td>11:00–14:00</td>
                                </tr>
                            </table>
                            <h4>Abend</h4>
                            <table class="table table-striped">
                                <tr>
                                    <td><a href="#hubertusklause">Hubertus Klause</a></td>
                                    <td>17:30–21:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#feuerwerk">Feuerwerk Fischach</a></td>
                                    <td>17:00–21:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#thaitsv">Thailänder Diedorf TSV</a></td>
                                    <td>17:00–21:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#traubeanhausen">Traube Anhausen</a></td>
                                    <td>17:30–20:00</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="freitag" role="tabpanel" aria-labelledby="freitag-tab">
                            <h4>Mittag</h4>
                            <table class="table table-striped">
                                <tr>
                                    <td><a href="#thaitsv">Thailänder Diedorf TSV</a></td>
                                    <td>11:30–15:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#traubeanhausen">Traube Anhausen</a></td>
                                    <td>11:00–14:00</td>
                                </tr>
                            </table>
                            <h4>Abend</h4>
                            <table class="table table-striped">
                                <tr>
                                    <td><a href="#feuerwerk">Feuerwerk Fischach</a></td>
                                    <td>17:00–21:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#hubertusklause">Hubertus Klause</a></td>
                                    <td>17:30–21:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#thaitsv">Thailänder Diedorf TSV</a></td>
                                    <td>17:00–21:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#traubeanhausen">Traube Anhausen</a></td>
                                    <td>17:30–20:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#traubefischach">Traube Fischach</a></td>
                                    <td>17:30–20:30</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="samstag" role="tabpanel" aria-labelledby="samstag-tab">
                            <h4>Mittag</h4>
                            <table class="table table-striped">
                                <tr>
                                    <td><a href="#thaitsv">Thailänder Diedorf TSV</a></td>
                                    <td>11:30–15:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#traubeanhausen">Traube Anhausen</a></td>
                                    <td>11:00–14:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#traubefischach">Traube Fischach</a></td>
                                    <td>11:00-13:30</td>
                                </tr>
                            </table>
                            <h4>Abend</h4>
                            <table class="table table-striped">
                                <tr>
                                    <td><a href="#feuerwerk">Feuerwerk Fischach</a></td>
                                    <td>17:00–21:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#hubertusklause">Hubertus Klause</a></td>
                                    <td>17:30–21:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#thaitsv">Thailänder Diedorf TSV</a></td>
                                    <td>17:00–21:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#traubeanhausen">Traube Anhausen</a></td>
                                    <td>17:30–20:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#traubefischach">Traube Fischach</a></td>
                                    <td>17:30–20:30</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="sonntag" role="tabpanel" aria-labelledby="sonntag-tab">
                            <h4>Mittag</h4>
                            <table class="table table-striped">
                                <tr>
                                    <td><a href="#hubertusklause">Hubertus Klause</a></td>
                                    <td>11:30–14:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#thaitsv">Thailänder Diedorf TSV</a></td>
                                    <td>11:30–15:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#traubeanhausen">Traube Anhausen</a></td>
                                    <td>11:00–14:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#traubefischach">Traube Fischach</a></td>
                                    <td>11:00-13:30</td>
                                </tr>
                            </table>
                            <h4>Abend</h4>
                            <table class="table table-striped">
                                <tr>
                                    <td><a href="#feuerwerk">Feuerwerk Fischach</a></td>
                                    <td>17:00–21:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#hubertusklause">Hubertus Klause</a></td>
                                    <td>17:30–21:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#thaitsv">Thailänder Diedorf TSV</a></td>
                                    <td>17:00–21:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#traubeanhausen">Traube Anhausen</a></td>
                                    <td>17:30–20:00</td>
                                </tr>
                                <tr>
                                    <td><a href="#traubefischach">Traube Fischach</a></td>
                                    <td>17:30–20:30</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <h3>Lieferdienste und Eisdielen</h3>
                    <ul>
                        <li><a href="#bellanova">Pizzaservice Bellanova</a></li>
                        <li><a href="#eisdielefischach">Eisdiele Fischach</a></li>
                        <li><a href="#lagelateria">Eisdiele Dinkelscherben</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">



                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header" id="traubeanhausen">
                            Gasthof zur Traube, Anhausen
                        </div>
                        <div class="card-img">
                            <img src="/Img/traube_anhausen.jpg" class="card-img-top" alt="Gasthof zur Traube" />
                            <div class="copyright">
                                &copy; <a href="https://www.traube-anhausen.de/" target="_blank">traube-anhausen.de</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">TRAUBE Anhausen 🍇</h5>
                            <p class="card-text">
                                Wir möchten in diesen schwierigen Zeiten auch weiterhin für Euch da sein und bieten Euch deswegen ab sofort unsere Speisen und Getränke zum Abholen und auf Anfrage auch mit Lieferung an!
                            </p>
                            <p class="card-text">
                                Öffnungszeiten: Täglich mittags von 11:00 bis 14:00 Uhr und abends von 17:30 bis 20:00 Uhr!
                            </p>
                            <p class="card-text">
                                Bestellungen bitte telefonisch unter <a href="tel:004982382211">08238/2211</a> (auch regelmäßige Vorbestellungen möglich)
                            </p>
                            <p class="card-text">
                                Unsere Speisekarte „To - Go“ findet ihr auch auf unserer
                                <a href="https://www.traube-anhausen.de/Speisen/Tageskarte/index.php/" target="_blank">Website unter Speisen -> Tageskarte</a>,
                                oder auf <a href="https://www.facebook.com/GasthofZurTraube" target="">Facebook</a> oder ihr ruft uns einfach an!
                            </p>
                            <a href="https://www.traube-anhausen.de/Speisen/Tageskarte/index.php/" target="_blank"  class="btn btn-primary">Speisekarte</a>
                            <a href="tel:004982382211"  class="btn btn-primary">Tel: 08238 - 2211</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header" id="feuerwerk">
                            Feuerwerk, Fischach
                        </div>
                        <div class="card-img">
                            <img src="/Img/feuerwerk.png" class="card-img-top" alt="Feuerwerk Fischach" />
                            <div class="copyright">
                                &copy; <a href="https://www.feuer-werk-restaurant.de" target="_blank">feuer-werk-restaurant.de</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Feuerwerk Fischach</h5>
                            <p class="card-text">
                                Im Feuerwerk Fischach bekommen Sie Burger, Steaks, Pizza, Salate und vieles mehr zur Abholung.
                            </p>
                            <p class="card-text">
                                Bei uns geht das Essen sprichwörtlich durchs Feuer. Sei es in unserem mit Buchenholz befeuerten Holzpizzaofen,
                                der den Speisen ein herr­liches Buchen­rauch-Aroma verleiht,
                                oder im speziellen Josper-Grill­ofen – die Fusion des klassischen Holzkohlegrills und der guten alten Backröhre.
                            </p>
                            <p class="card-text">
                                Öffnungszeiten: Di - So von 17:00-21:00 Uhr
                            </p>
                            <p class="card-text">
                                Bestellungen telefonisch unter <a href="tel:00498236311" target="_blank">Tel: 08236 / 311</a><br />
                                oder über unsere Online Bestellung:
                            </p>
                            <a href="https://www.gastronavi.de/restaurants/6357/reservierung/widget#1" target="_blank" class="btn btn-primary">Online Bestellung</a>
                            <a href="tel:00498236311" target="_blank" class="btn btn-primary">Tel: 08236 / 311</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header" id="traubefischach">
                            Gasthof zur Traube, Fischach
                        </div>
                        <div class="card-img">
                            <img src="/Img/traube-fischach2.jpg" class="card-img-top" alt="Gasthof zur Traube" />
                            <div class="copyright">
                                &copy; <a href="https://traube-fischach.de/" target="_blank">traube-fischach.de</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Traube Fischach</h5>
                            <p class="card-text">
                                Der Gasthof zur Traube bietet verschiedene Gerichte zum Abholen an,
                                Bestellung unter <a href="tel:0049823696060" target="_blank" >Tel: 08236 / 96060</a>
                            </p>
                            <p class="card-text">
                                Öffnungszeiten: Montag, Dienstag & Freitag
                                von 17.30-20.30 Uhr<br />
                                Samstag, Sonntag und Ostermontag
                                von 11.00-13.30 Uhr und 17.30-20.30 Uhr
                            </p>
                            <p class="card-text">
                                Unser Speisenangebot finden Sie unter <a href="https://traube-fischach.de/">https://traube-fischach.de/</a>
                                <br />
                                An Ostern gibts zusätzlich Schweinsbraten (bitte vorbestellen), und der Montag ist immer Cordon-bleu-Tag
                            </p>
                            <a href="https://traube-fischach.de/948-2/" target="_blank" class="btn btn-primary">Speisekarte</a>
                            <a href="tel:0049823696060" target="_blank" class="btn btn-primary">Tel: 08236 / 96060</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header" id="hubertusklause">
                            Pizzeria
                        </div>
                        <div class="card-img">
                            <img src="/Img/hubertus_klause.jpg" class="card-img-top" alt="Hubertus Klause" />
                            <div class="copyright">
                                &copy; <a href="https://pixabay.com/de/users/publicdomainimages-327722/">PublicDomainImages</a> auf <a href="https://pixabay.com/de/photos/pizza-trinken-lebensmittel-386717/">Pixabay</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Hubertus Klause Deubach</h5>
                            <p class="card-text">
                                Wir verwöhnen euch mit Speisen aus den Rubriken Pizza, Pasta und Salat - alles zum Abholen in Deubach.</p>
                            <p class="card-text">
                                Öffnungszeiten: Täglich sind wir von 17:30 Uhr bis 21:00 Uhr für euch da, nur Dienstag ist Ruhetag. <br />
                                Sonntags von 11:30 Uhr bis 14:00 Uhr.
                            </p>
                            <p class="card-text">
                                Auf unserer <a href="http://www.hubertusklause-deubach.de" target="_blank" >Homepage</a> findet Ihr auch unsere
                                <a href="http://www.hubertusklause-deubach.de/fileadmin/images/Pizza_zum_Abholen_Pizzeria_Deubach.pdf" target="_blank">Speisekarte</a>
                            </p>
                            <p class="card-text">
                                Bestellt Eure Lieblingsgerichte bitte einfach telefonisch unter <a href="tel:004982381463">Tel: 08238-1463</a>.
                            </p>
                            <a href="tel:004982381463" class="btn btn-primary">Tel: 08238 - 1463</a>
                            <a href="http://www.hubertusklause-deubach.de/fileadmin/images/Pizza_zum_Abholen_Pizzeria_Deubach.pdf" target="_blank" class="btn btn-primary">Speisekarte</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header" id="thaitsv">
                            Thailändisches Restaurant
                        </div>
                        <div class="card-img">
                            <img src="/Img/thai_tsv3.png" class="card-img-top" alt="Thailändisches Restaurant TSV" />
                            <div class="copyright">
                                &copy; <a href="https://tsvdiedorf.de/?page_id=82">Thailänder TSV Diedorf</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Thailändisches Restaurant im TSV Diedorf</h5>
                            <p class="card-text">
                                Wir bieten thailändische und deutsche Küche zum Abholen.
                            </p>
                            <p class="card-text">
                                Öffnungszeiten: Täglich mittags von 11:00 bis 14:00 Uhr und abends von 17:30 bis 21:00 Uhr!
                            </p>
                            <p class="card-text">
                                Bestellungen bitte telefonisch an: <a href="tel:00498238959704">08238 - 959704</a>
                            </p>
                            <p class="card-text">
                                Mittags haben wir zusätzlich zur normalen Speisekarte auch
                                <a href="https://tsvdiedorf.de/wp-content/uploads/2019/12/Mittagsmenu.pdf" target="_blank">Mittagsmenüs</a> im Angebot
                            </p>
                            <a href="https://tsvdiedorf.de/wp-content/uploads/2019/12/Speisekarte.pdf" target="_blank"  class="btn btn-primary">Speisekarte</a>
                            <a href="tel:00498238959704"  class="btn btn-primary">Tel: 08238 - 959704</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header" id="eisdielefischach">
                            Eiscafé Fischach
                        </div>
                        <div class="card-img">
                            <img src="/Img/eiscafe_limone.jpg" class="card-img-top" alt="Eiscafe Limone">
                            <div class="copyright">
                                <a href="https://eiscafe-limone.de">eiscafe-limone.de</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Eiscafé Limone, Fischach</h5>
                            <p class="card-text">
                                Das Eiscafe in Fischach hat wieder geöffnet. Wir bieten Abholung und einen Lieferservice!
                            </p>
                            <p>Neben den selbstgemachten Eis-Sorten haben wir auch tolle Pizzas, Pasta und Salate im Angebot</p>
                            <a href="tel:0049082369588973" class="btn btn-primary">Tel: 08236 - 958 89 73</a>
                            <a href="https://eiscafe-limone.de/speisekarte/" target="_blank" class="btn btn-primary">Speisekarte</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header" id="bellanova">
                            Pizza Lieferdienst
                        </div>
                        <div class="card-img">
                            <img src="/Img/pizza2_640.jpg" class="card-img-top" alt="Pizza" />
                            <div class="copyright">
                                &copy; <a href="https://pixabay.com/de/users/publicdomainimages-327722/">PublicDomainImages</a> auf <a href="https://pixabay.com/de/photos/pizza-trinken-lebensmittel-386717/">Pixabay</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Bellanova Gessertshausen</h5>
                            <p class="card-text">
                                Pizzeria mit Lieferdienst in Gessertshausen und Umgebung <br />
                            </p>
                            <p class="card-text">
                                Öffnungszeiten: Täglich mittags von 11:00 bis 13:45 Uhr und abends von 17:00 bis 21:45 Uhr!
                            </p>
                            <a href="tel:004982389091561" target="_blank" class="btn btn-primary">Tel: 08238 - 9091561</a>
                            <a href="https://www.online-pizza.de/shop.php?shop_id=9500718" target="_blank" class="btn btn-primary">Speisekarte</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 py-3">
                    <div class="card content-card" >
                        <div class="card-header" id="lagelateria">
                            Eisdiele Dinkelscherben
                        </div>
                        <div class="card-img">
                            <img src="/Img/eis_640.jpg" class="card-img-top" alt="Pizza">
                            <div class="copyright">
                                <a href="https://pixabay.com/de/users/JESHOOTS-com-264599/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=410330">Jan Vašek</a> auf <a href="https://pixabay.com/de/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=410330">Pixabay</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Eisdiele LaGelateria Dinkelscherben</h5>
                            <p class="card-text">
                                Die Eisdiele hat geöffnet, aber nur zum abholen! <br />
                                Aktuelle Info von der <a href="https://www.facebook.com/LaGelateriaDinkel">LaGelateria Facebook Seite:</a> <br />
                                <span class="quote">
                                    Lieber Kunde, <br />
                                    aufgrund der Coronakrise, ändern wir kurzfristig unsere Öffnungszeiten.<br />
                                    Täglich von 14:00-20:00 nur zum mitnehmen bzw. abholen<br />
                                    Leckeres Eis, Pizza, Pasta und Salata gibt es aber trotzdem noch<br />
                                    Euer La Gelateria Team<br />
                                </span>
                            </p>
                            <a href="https://www.facebook.com/LaGelateriaDinkel" target="_blank" class="btn btn-primary">Zur Facebook Seite</a>
                        </div>
                    </div>
                </div>


            </div>
            {{ include('Partials/categories.twig') }}
            {{ include('Partials/about.twig') }}
        </div>
    </div>

{% endblock %}
