{% extends "base.twig" %}

{% block content %}
    <div class="card bg-dark text-white header-card d-print-none">
        <img src="Img/tastatur.png" class="card-img" alt="Tastatur">
        <p class="copyright">
            &copy; <a href="https://commons.wikimedia.org/wiki/File:Illu-hand-tastatur.svg" title="via Wikimedia Commons">Studio GOOD digital GmbH for Wikimedia Deutschland</a> / <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA</a>
        </p>

    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12 py-3">
                    <h2>Über diese Seite</h2>
                    <p>
                        Diese Seite ist aus einer Bürger-Initiative entstanden, um in Zeiten der Corona-Pandemie zu informieren und zu helfen.
                    </p>
                    <p>
                        Gegründet und betrieben wird sie kostenlos von Andrea Schmuttermair und ihrer Firma: <br />
                        <a href="https://www.schmutt.com/" target="_blank">Schmuttermair - Webseiten & Programmierung</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 py-3">
                    <h2>Sie wollen eine ähnliche Seite für Ihre Gemeinde?</h2>
                    <p>
                        Das wichtigste ist eine <strong>verantwortliche Person</strong>, die die Inhalte zusammen trägt und pflegt.
                        Es geht in erster Linie um sinnvolle Inhalte, die die Menschen benötigen und interessieren. Dafür ist es gut, wenn man bereits vernetzt ist, z.B. über Vereine, Pfarrei oder Gemeinderat.
                    </p>
                    <p>
                        Wenn sich dafür jemand interessiert, gibt es mehrere Möglichkeiten:
                    </p>
                    <ul>
                        <li class="py-2">Wenn grundlegende HTML Kenntnisse vorhanden sind, kann man sich die Seite herunterladen und die Inhalte anpassen.
                            Alle Dateien sind unter github veröffentlich und können dort heruntergeladen werden:
                            <a href="https://github.com/aschmutt/region-info" target="_blank">Zum GitHub Projekt</a> <br />
                            Ich habe mit Absicht nur die einfachsten Technologien verwendet, die man ohne große Vorkenntnisse einsetzen kann! <br />
                            Die bestehenden Seiten einfach editieren, Texte und Bilder austauschen und auf einen Web-Server hochladen.
                        </li>
                        <li class="py-2">
                            Wer nur redaktionell arbeiten möchte, aber keinen technischen Hintergrund hat, holt sich am besten eine fertige Webseite, und fängt dort das schreiben an. <br />
                            Anbieter sind beispielsweise <a href="https://de.wix.com/" target="_blank">https://de.wix.com</a> oder
                            <a href="https://wordpress.org/" target="_blank">Wordpress</a>
                        </li>
                        <li class="py-2">
                            Ganz ohne Aufwand kann auf Facebook eine neue Gruppe angelegt werden, darüber organisieren sich derzeit viele Bürgerinitiativen. Nachteil ist leider, dass man ohne Facebook Account nicht mitmachen kann.
                        </li>
                        <li class="py-2">
                            Sie können mich auch gerne um ein Angebot anfragen. Ich kann über meine Firma auch professionelle Web-Services anbieten und Gemeinden bei der Öffentlichkeits-Arbeit unterstützen.
                            <a href="mailto:andrea@schmutt.com">Kontakt Schmuttermair - Webseiten & Programmierung</a>

                        </li>
                    </ul>
                    <p>
                        Sofern ich Zeit habe, kann ich dazu auch kostenlos technische Unterstützung anbieten - bei Fragen bitte eine Mail senden an: <a href="mailto:andrea@schmutt.com">andrea@schmutt.com</a>.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 py-3">
                    <h2>Veröffentlicht als Open-Source Software</h2>
                    <p>
                        Diese Seite ist unter der <a href="/License.html" target="_blank">GPLv3</a> veröffentlicht.
                        Sie ist damit Open-Source Software und kann frei verwendet werden, ohne Lizenzkosten. Die Software wird so wie sie ist, ohne Gewähr oder Anspruch auf Vollständigkeit bereitgestellt.
                    </p>
                    <p><a href="https://github.com/aschmutt/region-info" class="btn btn-primary" target="_blank">Zum GitHub Projekt</a></p>
                    <h4>Was ist Open-Source Software?</h4>
                    <p>
                        Open-Source Software ist allgegenwärtig. Sie arbeitet unerkannt im
                        Hintergrund und trägt doch Wesentliches zu unserem Alltag bei.
                        Wenn Sie E-Mail senden und empfangen oder Webseiten lesen, ist
                        praktisch immer freie Software mit im Spiel.
                    </p>
                    <p>
                        Die freie Software, von der hier die Rede sein soll, ist
                        kein „Freibier“, sondern sie gibt Ihnen die
                        Freiheit,
                    </p>
                    <ol start="0">
                        <li>
                            die Software für einen beliebigen Zweck auszuführen,
                        </li>
                        <li>
                            die Funktionsweise der Software zu studieren und
                            sie an Ihre eigenen Bedürfnisse anzupassen,
                        </li>
                        <li>
                            Kopien der Software weiterzugeben
                        </li>
                        <li>
                            sowie die Software zu verbessern und diese
                            Verbesserungen zu veröffentlichen.
                        </li>
                    </ol>
                    <p>
                        Als Benutzer freier Software erhalten Sie insbesondere Zugriff auf
                        deren <a href="https://github.com/aschmutt/region-info" target="_blank">Quelltext</a>, denn dieser ist Voraussetzung für das Studieren, Anpassen und
                        Verbessern der Software. Freie Software wird daher von vielen auch
                        als Open Source Software bezeichnet.
                    </p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}




