{% extends "base.twig" %}

{% block content %}
    <div class="card bg-dark text-white header-card d-print-none">
        <img src="/Img/Gessertshausen_Dietkirch2_1024.JPG" class="card-img" alt="Geschäfte und Einrichtungen">
        <p class="copyright">
            &copy; <a href="https://commons.wikimedia.org/wiki/File:Gessertshausen,_A_-_Dietkirch_v_S.JPG" title="via Wikimedia Commons">Flodur63</a> / <a href="https://creativecommons.org/licenses/by-sa/3.0">CC BY-SA</a>
        </p>

    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12 py-3">
                    <h2>Über diese Seite</h2>
                    <p>
                        Diese Seite ist aus einer Bürger-Initiative entstanden, um in Zeiten der Corona-Pandemie zu informieren und zu helfen.
                    </p>
                    <div class="quote">
                        <p>
                            Ich wollte einfach etwas tun, auch einen Beitrag leisten, und nicht nur zu Hause rumsitzen und abwarten. <br />
                            Ich habe gesehen, dass sich in kürzester Zeit sehr viele Initiativen entwickelt haben,
                            doch was mir gefehlt hat ist der <b>regionale Bezug</b>. <br />
                            Vieles läuft Bayern- oder Deutschlandweit,
                            in den Städten gibt es dann auch genug Einträge, doch auf dem Land ist alles viel weiter verstreut.
                        </p>
                        <p>Also habe ich <b>diese Webseite ins Leben gerufen</b>, und angefangen dort alles aus unserer Umgebung zusammen zu tragen. <br />
                            Ich habe die Läden angesprochen oder angeschrieben, Facebook Einträge zusammen gesammelt, Informations-Zettel an geschlossenen Geschäften gelesen,
                            und bei den Vereinen um Unterstützung gefragt, denn die sind bereits hervorragend vernetzt.
                        </p>
                        <p>
                            Was ich dabei gemerkt habe: es geht nicht darum, die coolste App ins Netz zu stellen, so nach dem Motto: die Leute werdens schon nutzen. <br />
                            Es geht doch nicht um die Technik, das ist nur ein Hilfsmittel.  <br />
                            <b>Es geht um die Menschen</b>, und um die echte Vernetzung dahinter, damit ein Dorf auch in Zeiten der sozialen Distanzierung wieder ein bißchen zusammen rücken kann! </p>
                        <footer class="blockquote-footer">Andrea Schmuttermair</footer>
                    </div>
                    <p>
                        Gegründet und betrieben wird diese Webseite kostenlos von Andrea Schmuttermair und ihrer Firma: <br />
                        <a href="https://www.schmutt.com/" target="_blank">Schmuttermair - Webseiten & Programmierung</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 py-3">
                    <h3>Sie haben ein Geschäft oder eine Neuigkeit für diese Seite?</h3>
                    <p>Einfach eine Mail schreiben an: <a href="mailto:kontakt@gessertshausen-info.de">kontakt@gessertshausen-info.de</a><br />
                        Die Einträge auf dieser Seite sind kostenlos!
                    </p>
                    <p>
                        Auch wenn Daten sich geändert haben, freue ich mich über eine Änderungs-Mitteilung. <br />
                        Ein Widerspruch gegen die Erwähnung auf dieser Seite ist ebenfalls kein Problem. <br />
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 py-3">
                    <h3>Sie wollen eine ähnliche Seite für Ihre Gemeinde?</h3>
                    <p>Der Code für diese Seite kann heruntergeladen werden und für die eigene Gemeinde verwendet werden. <br />
                        Dafür gibt es ein Demo Projekt, das man hier sehen kann: </p>

                    <a href="http://demo.gessertshausen-info.de/" target="_blank"  class="btn btn-primary" >Demo Projekt für eigene Gemeinde-Seite</a>
                </div>
                <div class="col-md-12 py-3">
                    <p>Es braucht nur grundlegende HTML Kenntnisse und einen Webserver mit PHP. <br />
                    Die Codes und die Installations-Anleitung findet man hier:
                    </p>

                    <a href="https://github.com/aschmutt/region-info" target="_blank"  class="btn btn-primary" >Codes und Installations-Anleitung</a> <br />
                    <p class="py-3">
                        Sofern ich Zeit finde, kann ich dazu auch kostenlos technische Unterstützung anbieten. <br />
                        Bei Fragen bitte eine Mail senden an: <a href="mailto:andrea@schmutt.com">andrea@schmutt.com</a>.
                    </p>
                    <p>
                        Diese Seite ist Open-Source Software, das heißt sie kann ohne Lizenzkosten verwendet und verändert werden.
                        Sie steht unter der <a href="/License.html" target="_blank">GPLv3 Lizenz</a>.
                        Die Software wird so wie sie ist, ohne Gewähr oder Anspruch auf Vollständigkeit bereitgestellt.
                    </p>
                </div>
            </div>


        </div>
    </div>
{% endblock %}




